@{

   Layout="_AdminLayout";

}

@model ESTA.Models.Contact
<div class="page-head">
<h2>@localizer["contacts"]</h2>
<h5>@localizer["edit"]</h5>
</div>

<form method="post" class="rounded-div" >
   @Html.HiddenFor(y=>y.Id)
   <div class="row">

		<div class=" col-6">

			<label asp-for="@Model.TitleAr"></label>
			<input asp-for="@Model.TitleAr" class="form-control" />
			<span asp-validation-for="@Model.TitleAr"></span>

	   </div>


		<div class=" col-6">

			<label asp-for="@Model.TitleEn"></label>
			<input asp-for="@Model.TitleEn" class="form-control" />
			<span asp-validation-for="@Model.TitleEn"></span>
	</div>
	


   </div>
	<br />

	<div class="row">

		<div class=" col-6">

				<label asp-for="@Model.AddressEn" ></label>
<input asp-for="@Model.AddressEn" class="form-control" />
<span asp-validation-for="@Model.AddressEn"></span>

		</div>


		<div class=" col-6">
			<label asp-for="@Model.AddressAr"></label>
			<input asp-for="@Model.AddressAr" class="form-control" />
			<span asp-validation-for="@Model.AddressAr"></span>
		</div>


	</div>
	
	<br />

	<div class="row">

		<div class=" col-6">
			<label asp-for="@Model.PhoneLines"></label>
			<input asp-for="@Model.PhoneLines" class="form-control" />
			<span asp-validation-for="@Model.PhoneLines"></span>

		</div>


		<div class=" col-6">

			<label asp-for="@Model.Emails"></label>
			<input asp-for="@Model.Emails" class="form-control" />
			<span asp-validation-for="@Model.Emails"></span>
		</div>


	</div>

  


	<br />

<button type="submit" class="btn-primary btn">@localizer["submit"]</button>
</form>