@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model ESTA.ViewModels.EditUserWorkInfoViewModel




<form method="post" action="EditWorkInfo">

	<h3>Work</h3>
    @Html.HiddenFor(y=>y.Id)

<div class="row">

    <div class="form-group col-lg-6 col-sm-12">
        <label asp-for="@Model.Job"></label>
        <input asp-for="@Model.Job" class="form-control"
               autocomplete="username" />

        <span asp-validation-for="@Model.Job" class="text-danger"></span>
    </div>


    <div class="form-group col-lg-6 col-sm-12">
        <label asp-for="@Model.Company"></label>
        <input asp-for="@Model.Company" class="form-control"
               autocomplete="username" />

        <span asp-validation-for="@Model.Company" class="text-danger"></span>
    </div>

</div>




<div class="row">


    <div class="form-group col-lg-4 col-sm-12">
        <label asp-for="@Model.WorkAddress"></label>
        <input asp-for="@Model.WorkAddress" class="form-control"
               autocomplete="username" />

        <span asp-validation-for="@Model.WorkAddress" class="text-danger"></span>
    </div>


    <div class="form-group col-lg-4 col-sm-12">
        <label asp-for="@Model.WorkPhone"></label>
        <input asp-for="@Model.WorkPhone" class="form-control"
               autocomplete="username" />

        <span asp-validation-for="@Model.WorkPhone" class="text-danger"></span>
    </div>


    <div class="form-group col-lg-4 col-sm-12">
        <label asp-for="@Model.WorkFax"></label>
        <input asp-for="@Model.WorkFax" class="form-control"
               autocomplete="username" />

        <span asp-validation-for="@Model.WorkFax" class="text-danger"></span>
    </div>





</div>







@*<div class="form-group">
    <label asp-for="@Model.WorkLeavingDate"></label>
    <input asp-for="@Model.WorkLeavingDate" class="form-control"
           autocomplete="username" />

    <span asp-validation-for="@Model.WorkLeavingDate" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="@Model.WorkLeavingReasons"></label>
    <textarea asp-for="@Model.WorkLeavingReasons" class="form-control"
              autocomplete="username"></textarea>

    <span asp-validation-for="@Model.WorkLeavingReasons" class="text-danger"></span>
</div>
*@


<button type="submit" class="btn btn-primary">Submit</button>

</form>