@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<ESTA.ViewModels.GetForum>
@using Microsoft.AspNetCore.Identity;
@inject UserManager<User> userManager;
@inject SignInManager<User> signInManager;

@using Microsoft.Extensions.Localization
@using System.Globalization

@inject IStringLocalizer<SharedResource> localizer;
@{
    var IsSigned = signInManager.IsSignedIn(User);
    var role = false;
    if (IsSigned)
    {
        var user = await userManager.GetUserAsync(User);
        role = await userManager.IsInRoleAsync(user, "Admin");
    }
}
<div class="slider-area">
    <div class="pages-title">
        <div class="single-slider slider-height slider-height-breadcrumb d-flex align-items-center" style="background-image: url(@Url.Content("~/template/img/inner-bg.png"));">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content slider-content-breadcrumb text-center">
                            <h1 class="white-color f-700">@localizer["forums"]</h1>
                            <nav class="text-center" aria-label="breadcrumb">
                                <ol class="breadcrumb justify-content-center">
                                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">@localizer["home"]</a></li>
                                    <li class="breadcrumb-item active"><a asp-controller="Forums" asp-action="Index">@localizer["forums"]</a></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">


    <div class="card my-3 p-3">

        <form asp-action="SearchComment">
            <div class="row">
                <div class="col-10">
                    <input class="form-control" type="text" id="search" name="query" />
                </div>
                <button type="submit" style="padding:12px" class="btn btn-secondary">@localizer["search"]</button>
            </div>
        </form>


    </div>

    <div class="row gy-3">
        <div class="col-xl-12">
            @foreach (var forum in Model)
            {
                <div class="card mb-3">
                    <h5 class="card-header" style="display:flex;justify-content:space-between">
                    
                        <a>General</a>    <a asp-action="GetForum" asp-route-id="@forum.Id">@forum.Title</a>
                    </h5>
                    <div class="card-body">
                        <p class="card-text">@forum.Description</p>
                    </div>
                @*    @if (role)
                    {
                        <div class="card-footer">
                            <a asp-controller="Forums" asp-action="EditForum" asp-route-id="@forum.Id" class="btn btn-secondary">
                                Edit
                            </a>
                            <button onclick="showModal(@forum.Id)" class="btn btn-danger">
                                Delete
                            </button>
                        </div>
                    }*@
                </div>
            }
        </div>
    @*    <div class="col-xl-4 align-self-center" id="stats">
        </div>*@
    </div>
</div>


