
@using ESTA.ViewModels

@model RegisterViewModel
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResource>  localizer;


@*
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
*@

	

@*<input type='text' class="container form-control col-sm-6" id='date' />
*@
<div class="container">
                                <br />
                                <h2>@localizer["signup"]</h2>
                                <br />

   
        
            
    

                                <span class="text-danger">
                                    @Html.ValidationSummary(excludePropertyErrors:true)

                                </span>


                                <form id="regForm" enctype="multipart/form-data" style="" asp-action="Register" method="post" asp-controller="Account">



                              
                                    <!-- One "tab" for each step in the form: -->
                                    <div class="tab">
                                        <h3>@localizer["personalinfo"]</h3>





                                        <div class="row">
                                            <div class="form-group col-lg-6 col-sm-12">
                                                <label asp-for=@Model.FullName></label><span class="text-danger m-1">*</span>
                                                <input asp-for="@Model.FullName" class="form-control"
                                                       autocomplete="name" />

                                                <span asp-validation-for="@Model.FullName" class="text-danger"></span>
                                            </div>

                                            <div class="form-group col-lg-6 col-sm-12">
                                                <label asp-for="@Model.FullNameAr"></label><span class="text-danger m-1">*</span>
                                                <input asp-for="@Model.FullNameAr" class="form-control"
                                                       autocomplete="name" />

                                                <span asp-validation-for="@Model.FullNameAr" class="text-danger"></span>
                                            </div>

                                        </div>



                                        <div class="row">

                                            <div class="form-group col-lg-6 col-sm-12 ">
                                                <label asp-for="@Model.NationalCardID"></label><span class="text-danger m-1">*</span>
                                                <input id="idno" required asp-for="@Model.NationalCardID" class="form-control"
                                                       autocomplete="username" />

                                                <span asp-validation-for="@Model.NationalCardID" class="text-danger"></span>
                                            </div>
                                            <div class="form-group col-lg-6 col-sm-12 ">
                    <label asp-for="@Model.Passport"></label><span class="text-danger m-1">*</span>
                                                <input id="passport" asp-for="@Model.Passport" class="form-control"
                                                       autocomplete="username" />

                                                <span asp-validation-for="@Model.Passport" class="text-danger"></span>
                                            </div>

                                        </div>



            <div class=" row " style="justify-content: space-evenly;">
                <div class="row col-lg-4 col-sm-12">

   <p>Are You a New Member ?</p>
                </div>
                <div class="form-group row col-lg-4 col-sm-12">

                <input class="col-1" id="new" type="radio" value="true" asp-for="@Model.IsNewMember" /> 
                <span class="col-1"></span>
                <label class="" style="align-self:end">Yes</label>

                </div> 

               <div class="form-group row col-lg-4 col-sm-12">
               
                   <input class="col-1" id="old" type="radio" value="false" asp-for="@Model.IsNewMember" />
                   <span class="col-1"></span>
                    <label class="" style="align-self:end">No</label>

            </div>

                </div>
              




            <div id="memnumgroup" class="form-group" style="display:none">
                <label asp-for="@Model.MembershipNumber"></label><span class="text-danger m-1">*</span>

                <input id="memnum"  required data-val-required="This field is required" 
                asp-for="@Model.MembershipNumber" class="form-control" />
                   <span asp-validation-for="@Model.MembershipNumber" class="text-danger"></span>
                                        </div>








<div class="row">

                            <div class=" col-lg-6 col-sm-12 ">
                    <label>National Card Image</label><span class="text-danger m-1">*</span>
                  
              
                            <input id="idnoImg"  asp-for=@Model.NationalCardImage  type="file" />
                    <span asp-validation-for="@Model.NationalCardImage" class="text-danger"></span>
                 </div>

                <div class=" col-lg-6 col-sm-12 ">
                    <label>Passport Image</label><span class="text-danger m-1">*</span>
                  
                                         <input id="passportImg" asp-for="@Model.PassportImage" type="file" />
                    <span asp-validation-for="@Model.PassportImage" class="text-danger"></span>
				
                </div>

            </div>


                                        <div class="form-group">
                <label asp-for="@Model.Email"></label><span class="text-danger m-1">*</span>
                                            <input asp-for="@Model.Email" class="form-control"
                                                   autocomplete="username" />

                                            <span asp-validation-for="@Model.Email" class="text-danger"></span>
                                        </div>

                                        <div class="row">
                                            <div class="form-group col-lg-6 col-sm-12">
                                                <label asp-for="@Model.Password"></label><span class="text-danger m-1">*</span>
                                                <input asp-for="@Model.Password" class="form-control" autocomplete="new-password" />

                                                <span asp-validation-for="@Model.Password" class="text-danger"></span>
                                            </div>
                                            <div class="form-group col-lg-6 col-sm-12">

                                                <label asp-for="@Model.ConfirmPassword"></label><span class="text-danger m-1">*</span>
                                                <input asp-for="@Model.ConfirmPassword" class="form-control" autocomplete="new-password" />

                                                <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <label asp-for="@Model.Birthdate"></label><span class="text-danger m-1">*</span>
                                            <input asp-for="@Model.Birthdate" class="form-control"
                                                   type="date" />

                                            <span asp-validation-for="@Model.Birthdate" class="text-danger"></span>
                                        </div>
                                        <div class="row">



                                            <div class="form-group col-lg-6 col-sm-12">
                                                <label asp-for="@Model.HomePhone"></label><span class="text-danger m-1">*</span>
                                                <input asp-for="@Model.HomePhone" class="form-control"
                                                       autocomplete="username" />

                                                <span asp-validation-for="@Model.HomePhone" class="text-danger"></span>
                                            </div>

                                            <div class="form-group col-lg-6 col-sm-12">
                                                <label asp-for="@Model.MobilePhone"></label><span class="text-danger m-1">*</span>
                                                <input asp-for="@Model.MobilePhone" class="form-control"
                                                       autocomplete="username" />

                                                <span asp-validation-for="@Model.MobilePhone" class="text-danger"></span>
                                            </div>



                                        </div>
                                        <div class="row">



                                            <div class="form-group col-lg-6 col-sm-12 register-english-levels">
                                                <label asp-for="@Model.EnglishReadingLevel"></label>
                                                <br />
                                                <input style="width:60%" value="Good" type="radio" asp-for="@Model.EnglishReadingLevel" /> <label>@localizer["good"]</label>
                                                <input style="width:60%" value="Intermediate" type="radio" asp-for="@Model.EnglishReadingLevel" /> <label>@localizer["inter"]</label>
                                                 <input style="width:60%" value="Very Good" type="radio" asp-for="@Model.EnglishReadingLevel" /> <label>@localizer["vgood"]</label>
                                                <input style="width:60%" value="Excellent" type="radio" asp-for="@Model.EnglishReadingLevel" /> <label>@localizer["excellent"]</label>
                                                <input style="width:60%" value="Non" type="radio" asp-for="@Model.EnglishReadingLevel" /> <label>@localizer["non"]</label>

                                                <span asp-validation-for="@Model.EnglishReadingLevel" class="text-danger"></span>
                                            </div>

                                            <div class="form-group col-lg-6 col-sm-12 register-english-levels">
                                                <label asp-for="@Model.EnglishWritingLevel"></label>
                                                <br />
                                                <input style="width:60%" value="Good" type="radio" asp-for="@Model.EnglishWritingLevel" /><label>@localizer["good"]</label>

                                                <input style="width:60%" value="Intermediate" type="radio" asp-for="@Model.EnglishWritingLevel" /><label>@localizer["inter"]</label>
                                                <input style="width:60%" value="Very Good" type="radio" asp-for="@Model.EnglishWritingLevel" /><label>@localizer["vgood"]</label>
                                                <input style="width:60%" value="Excellent" type="radio" asp-for="@Model.EnglishWritingLevel" /><label>@localizer["excellent"]</label>
                                                <input style="width:60%" value="Non" type="radio" asp-for="@Model.EnglishWritingLevel" /><label>@localizer["non"]</label>






                                                <span asp-validation-for="@Model.EnglishWritingLevel" class="text-danger"></span>
                                            </div>



                                        </div>
                                    </div>









                                    <div class="tab">


                                        <h3>@localizer["addressinfo"]</h3>
                                        <hr />




                                        <div class="row">

                                            <div class="form-group col-4">
                                                <label asp-for="@Model.Country"></label>
                                               <select class="form-control" asp-for="@Model.Country" >
                                               @foreach (var item in Model.Countries)
                        {
                                                                               <option  >@item</option>
                        }


                                               </select>

                                                <span asp-validation-for="@Model.Country" class="text-danger"></span>
                                            </div>



                                            <div class="form-group col-4">
                                                <label asp-for="@Model.City"></label>
                                                <input asp-for="@Model.City" class="form-control"
                                                       autocomplete="username" />

                                                <span asp-validation-for="@Model.City" class="text-danger"></span>
                                            </div>






                                            <div class="form-group col-4">
                                                <label asp-for="@Model.Area"></label>
                                                <input asp-for="@Model.Area" class="form-control"
                                                       autocomplete="username" />

                                                <span asp-validation-for="@Model.Area" class="text-danger"></span>
                                            </div>









                                        </div>


                                        <div class="row">
                                            <div class="form-group  col-lg-6 col-sm-12">
                                                <label asp-for="@Model.Hometown"></label>
                                                <input asp-for="@Model.Hometown" class="form-control"
                                                       autocomplete="username" />

                                                <span asp-validation-for="@Model.Hometown" class="text-danger"></span>
                                            </div><div class="form-group  col-lg-6 col-sm-12">


                                                <label asp-for="@Model.StreetName"></label>
                                                <input asp-for="@Model.StreetName" class="form-control"
                                                       autocomplete="username" />

                                                <span asp-validation-for="@Model.StreetName" class="text-danger"></span>
                                            </div>

                                        </div>


                                        <div class="row">
                                            <div class="form-group col-4">
                                                <label asp-for="@Model.BlockNumber"></label>
                                                <input asp-for="@Model.BlockNumber" class="form-control"
                                                       autocomplete="username" />

                                                <span asp-validation-for="@Model.BlockNumber" class="text-danger"></span>
                                            </div>
                                            <div class="form-group col-4">
                                                <label asp-for="@Model.Floor"></label>
                                                <input asp-for="@Model.Floor" class="form-control"
                                                       autocomplete="username" />

                                                <span asp-validation-for="@Model.Floor" class="text-danger"></span>
                                            </div>

                                            <div class="form-group col-4">
                                                <label asp-for="@Model.FlatNumber"></label>
                                                <input asp-for="@Model.FlatNumber" class="form-control"
                                                       autocomplete="username" />

                                                <span asp-validation-for="@Model.FlatNumber" class="text-danger"></span>
                                            </div>


                                        </div>






                                        <div class="form-group">
                                            <label asp-for="@Model.MessagingAddress"></label>
                                            <input asp-for="@Model.MessagingAddress" class="form-control"
                                                   autocomplete="username" />

                                            <span asp-validation-for="@Model.MessagingAddress" class="text-danger"></span>
                                        </div>


                                    </div>

                                    <div class="tab">


                                        <h3>@localizer["workinfo"]</h3>
                                        <hr />


                                        <div class="row">

                                            <div class="form-group col-lg-6 col-sm-12">
                                                <label asp-for="@Model.Job"></label>
                                                <input asp-for="@Model.Job" class="form-control"
                                                       autocomplete="username" />

                                                <span asp-validation-for="@Model.Job" class="text-danger"></span>
                                            </div>


                                            <div class="form-group col-lg-6 col-sm-12">
                                                <label asp-for="@Model.Company"></label>
                                                <input asp-for="@Model.Company" class="form-control"
                                                       autocomplete="username" />

                                                <span asp-validation-for="@Model.Company" class="text-danger"></span>
                                            </div>

                                        </div>




                                        <div class="row">


                                            <div class="form-group col-lg-4 col-sm-12">
                                                <label asp-for="@Model.WorkAddress"></label>
                                                <input asp-for="@Model.WorkAddress" class="form-control"
                                                       autocomplete="username" />

                                                <span asp-validation-for="@Model.WorkAddress" class="text-danger"></span>
                                            </div>


                                            <div class="form-group col-lg-4 col-sm-12">
                                                <label asp-for="@Model.WorkPhone"></label>
                                                <input asp-for="@Model.WorkPhone" class="form-control"
                                                       autocomplete="username" />

                                                <span asp-validation-for="@Model.WorkPhone" class="text-danger"></span>
                                            </div>


                                            <div class="form-group col-lg-4 col-sm-12">
                                                <label asp-for="@Model.WorkFax"></label>
                                                <input asp-for="@Model.WorkFax" class="form-control"
                                                       autocomplete="username" />

                                                <span asp-validation-for="@Model.WorkFax" class="text-danger"></span>
                                            </div>





                                        </div>







                                        <div class="form-group">
                                            <label asp-for="@Model.WorkLeavingDate"></label>
                                            <input asp-for="@Model.WorkLeavingDate" class="form-control"
                                                   autocomplete="username" />

                                            <span asp-validation-for="@Model.WorkLeavingDate" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="@Model.WorkLeavingReasons"></label>
                                            <textarea asp-for="@Model.WorkLeavingReasons" class="form-control"
                                                      autocomplete="username"></textarea>

                                            <span asp-validation-for="@Model.WorkLeavingReasons" class="text-danger"></span>
                                        </div>






                                    </div>

                                    <div class="tab">

                                        <h3>@localizer["eduinfo"]</h3>

                                        <hr />

                                        <div class="row">

                                            <div class="form-group col-lg-4 col-sm-12">
                                                <label asp-for="@Model.AcademicQualification"></label>
                                                <input asp-for="@Model.AcademicQualification" class="form-control"
                                                       autocomplete="username" />

                                                <span asp-validation-for="@Model.AcademicQualification" class="text-danger"></span>
                                            </div>

                                            <div class="form-group col-lg-4 col-sm-12">
                                                <label asp-for="@Model.University"></label>
                                                <input asp-for="@Model.University" class="form-control"
                                                       autocomplete="username" />

                                                <span asp-validation-for="@Model.University" class="text-danger"></span>
                                            </div>

                                            <div class="form-group col-lg-4 col-sm-12">
                                                <label asp-for="@Model.GradutionYear"></label>
                                                <input asp-for="@Model.GradutionYear" class="form-control"
                                                       autocomplete="username" />

                                                <span asp-validation-for="@Model.GradutionYear" class="text-danger"></span>
                                            </div>


                                        </div>

                                        <div class="form-group">
                                            <label asp-for="@Model.HighStudies"></label>
                                            <input asp-for="@Model.HighStudies" class="form-control" />

                                            <span asp-validation-for="@Model.HighStudies" class="text-danger"></span>
                                        </div>


            <div class="form-group">
                <label asp-for="@Model.GraduationCertificateImage"></label>
                <input asp-for="@Model.GraduationCertificateImage" class="form-control" />

                <span asp-validation-for="@Model.GraduationCertificateImage" class="text-danger"></span>
            </div>



                                    </div>

                                    <div class="tab">

                                        <h3>@localizer["codeofethics"]</h3>
                                        <div style="height:300px;overflow-y:auto;">

                                            <p>

                                                @Html.Raw(Model.codeofEthics)
                                            </p>





                                        </div>
                                        <input type="checkbox" asp-for="@Model.HaveRead" style="width:10%" /> @localizer["haveread"]

                                        <span asp-validation-for="@Model.HaveRead" class="text-danger"></span>


                                        @if(@Model.Questions != null){

                                        @for(var i=0;i<Model.Questions.Count;i++)
{
                                        @Html.HiddenFor(y=>Model.Questions[i].Id)

                                        @Html.DisplayFor(y=>Model.Questions[i].QuestionEntxt)
                                        @Html.HiddenFor(y=>Model.Questions[i].IsYesNo)
                                        @Html.HiddenFor(y=>Model.Questions[i].QuestionEntxt)
                                        @Html.HiddenFor(y=>Model.Questions[i].QuestionArtxt)
            if (Model.Questions[i].IsYesNo)
            {

                                        <div class="row">
                                            <input class="col-2" type="radio"
                                                   onclick="Check(true,@Model.Questions[i].Id)"
                                                   asp-for=@Model.Questions[i].IsTrue value=true />

                                            <label class="col-4">Yes</label>




                                            <input class="col-2" type="radio"
                                                   onclick="Check(false,@Model.Questions[i].Id)"
                                                   asp-for=@Model.Questions[i].IsTrue value=false />

                                            <label class="col-4">No</label>

                                        </div>

                                        <br />
                                        <textarea placeholder="Explain Why.."
                                                  type="text" id="t-@Model.Questions[i].Id"
                                                  class="form-control d-none" asp-for=@Model.Questions[i].Answer></textarea>

                                        <span asp-validation-for="@Model.Questions[i].Answer" class="text-danger"></span>


            }



            else
            {
                                        <textarea placeholder="Explain ...." type="text"
                                                  id="t-@Model.Questions[i].Id"
                                                  class="form-control " asp-for=@Model.Questions[i].Answer>
                </textarea>

                                        <span asp-validation-for="@Model.Questions[i].Answer"
                                              class="text-danger"></span>

            }

        }

        }

                                    </div>





                                    <div style="display:none;
                    animation-name: fade;
                    animation-duration: 0.5s;
                    animation-iteration-count: infinite;
                    " id="spinner">

                                        <h3>Loading...</h3>

                                    </div>

                                    <br />


                                    <div style="overflow:auto;">
                                        <div style="float:right;">
                                            <button style="border:0" class="btn btn-light" type="button"
                                                    id="prevBtn" onclick="nextPrev(-1)">
                                                @localizer["previous"]
                                                </button>
                                                <button style="border:0" class="btn btn-primary" type="button"
                                                        id="nextBtn" onclick="nextPrev(1)">
                                                    @localizer["next"]
                                                    </button>
                                                </div>
                                            </div>

                                            <!-- Circles which indicates the steps of the form: -->
                                            <div style="text-align:center;margin-top:40px;">
                                                <span class="step"></span>
                                                <span class="step"></span>
                                                <span class="step"></span>
                                                <span class="step"></span>
                                                <span class="step"></span>
                                            </div>

                                        </form>

                                    </div>

@*<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script> 
<script>
    flatpickr("#date", {
     dateFormat: "d/m/Y",
    //    maxDate: new Date(new Date().getFullYear()-80),
     //   minDate:new Date(new Date().getFullYear()-10)
    });
	 </script>
*@
@*
<div class="row" style="  display:none;justify-content:center">
    <div class="col-md-6">
        <form id="registerForm" asp-action="Register" method="post">
            <h3>Create a new account.</h3>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
       
            <h3>Personal Info</h3>

            <div class="row">
<div class="form-group col-lg-6 col-sm-12">
                <label asp-for=@Model.FullName ></label>
                <input asp-for="@Model.FullName" class="form-control"
                       autocomplete="name" />

                <span asp-validation-for="@Model.FullName" class="text-danger"></span>
            </div>

            <div class="form-group col-lg-6 col-sm-12">
                <label asp-for="@Model.FullNameAr"></label>
                <input asp-for="@Model.FullNameAr" class="form-control"
                       autocomplete="namear" />

                <span asp-validation-for="@Model.FullNameAr" class="text-danger"></span>
            </div>

            </div>



            <div class="row">

                  <div class="form-group col-lg-6 col-sm-12 ">
                <label asp-for="@Model.NationalCardID"></label>
                <input asp-for="@Model.NationalCardID" class="form-control"
                       autocomplete="username" />

                <span asp-validation-for="@Model.NationalCardID" class="text-danger"></span>
            </div>
                <div class="form-group col-lg-6 col-sm-12 ">
                <label asp-for="@Model.Passport"></label>
                <input asp-for="@Model.Passport" class="form-control"
                       autocomplete="username" />

                <span asp-validation-for="@Model.Passport" class="text-danger"></span>
            </div>

            </div>
         
           <div class="form-group">
                <label asp-for="@Model.Email"></label>
                <input asp-for="@Model.Email" class="form-control"
                autocomplete="username"  />
               
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
          
            <div class="row">
<div class="form-group col-lg-6 col-sm-12">
                <label asp-for="@Model.Password"></label>
                <input asp-for="@Model.Password" class="form-control" autocomplete="new-password"  />
           
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-6 col-sm-12">

                <label asp-for="@Model.ConfirmPassword"></label>
                <input asp-for="@Model.ConfirmPassword" class="form-control" autocomplete="new-password"/>
             
                <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
            </div>

            </div>
         
         <div class="row" >
       
       
       
          <div class="form-group col-lg-6 col-sm-12">
                <label asp-for="@Model.HomePhone"></label>
                <input asp-for="@Model.HomePhone" class="form-control"
                       autocomplete="username" />

                <span asp-validation-for="@Model.HomePhone" class="text-danger"></span>
            </div>
            
 <div class="form-group col-lg-6 col-sm-12">
                <label asp-for="@Model.MobilePhone"></label>
                <input asp-for="@Model.MobilePhone" class="form-control"
                       autocomplete="username" />

                <span asp-validation-for="@Model.MobilePhone" class="text-danger"></span>
            </div>
       
       
       
       </div> 
           
       <br />
       <h3>Address Info</h3>
         <hr />

        


            <div class="row" >

                <div class="form-group col-4">
                    <label asp-for="@Model.Country"></label>
                    <input asp-for="@Model.Country" class="form-control"
                           autocomplete="username" />

                    <span asp-validation-for="@Model.Country" class="text-danger"></span>
                </div>



                <div class="form-group col-4">
                <label asp-for="@Model.City"></label>
                <input asp-for="@Model.City" class="form-control"
                       autocomplete="username" />

                <span asp-validation-for="@Model.City" class="text-danger"></span>
            </div>






                <div class="form-group col-4">
    <label asp-for="@Model.Area"></label>
    <input asp-for="@Model.Area" class="form-control"
           autocomplete="username" />

    <span asp-validation-for="@Model.Area" class="text-danger"></span>
</div>


        






            </div>
       
            <div class="row">
                    <div class="form-group  col-lg-6 col-sm-12">
                <label asp-for="@Model.Hometown"></label>
                <input asp-for="@Model.Hometown" class="form-control"
                       autocomplete="username" />

                <span asp-validation-for="@Model.Hometown" class="text-danger"></span>
            </div><div class="form-group  col-lg-6 col-sm-12">


                <label asp-for="@Model.StreetName"></label>
                <input asp-for="@Model.StreetName" class="form-control"
                       autocomplete="username" />

                <span asp-validation-for="@Model.StreetName" class="text-danger"></span>
            </div>

            </div>


            <div class="row">
                <div class="form-group col-4">
    <label asp-for="@Model.BlockNumber"></label>
    <input asp-for="@Model.BlockNumber" class="form-control"
           autocomplete="username" />

                    <span asp-validation-for="@Model.BlockNumber" class="text-danger"></span>
</div>
                 <div class="form-group col-4">
        <label asp-for="@Model.Floor"></label>
        <input asp-for="@Model.Floor" class="form-control"
               autocomplete="username" />

        <span asp-validation-for="@Model.Floor" class="text-danger"></span>
    </div>

<div class="form-group col-4">
    <label asp-for="@Model.FlatNumber"></label>
    <input asp-for="@Model.FlatNumber" class="form-control"
           autocomplete="username" />

    <span asp-validation-for="@Model.FlatNumber" class="text-danger"></span>
</div>


            </div>






<div class="form-group">
                <label asp-for="@Model.MessagingAddress"></label>
                <input asp-for="@Model.MessagingAddress" class="form-control"
                       autocomplete="username" />

                <span asp-validation-for="@Model.MessagingAddress" class="text-danger"></span>
            </div>

            <br>
            <h3>Work Info</h3>
            <hr /> 


            <div class="row">

 <div class="form-group col-lg-6 col-sm-12">
                <label asp-for="@Model.Job"></label>
                <input asp-for="@Model.Job" class="form-control"
                       autocomplete="username" />

                <span asp-validation-for="@Model.Job" class="text-danger"></span>
            </div>


                <div class="form-group col-lg-6 col-sm-12">
                <label asp-for="@Model.Company"></label>
                <input asp-for="@Model.Company" class="form-control"
                       autocomplete="username" />

                <span asp-validation-for="@Model.Company" class="text-danger"></span>
            </div>

            </div>




            <div class="row">


                <div class="form-group col-lg-4 col-sm-12">
                    <label asp-for="@Model.WorkAddress"></label>
                    <input asp-for="@Model.WorkAddress" class="form-control"
                           autocomplete="username" />

                    <span asp-validation-for="@Model.WorkAddress" class="text-danger"></span>
                </div>


                <div class="form-group col-lg-4 col-sm-12">
                    <label asp-for="@Model.WorkPhone"></label>
                    <input asp-for="@Model.WorkPhone" class="form-control"
                           autocomplete="username" />

                    <span asp-validation-for="@Model.WorkPhone" class="text-danger"></span>
                </div>


                <div class="form-group col-lg-4 col-sm-12">
                    <label asp-for="@Model.WorkFax"></label>
                    <input asp-for="@Model.WorkFax" class="form-control"
                           autocomplete="username" />

                    <span asp-validation-for="@Model.WorkFax" class="text-danger"></span>
                </div>





            </div>


         




            <div class="form-group">
                <label asp-for="@Model.WorkLeavingDate"></label>
                <input asp-for="@Model.WorkLeavingDate" class="form-control"
                       autocomplete="username" />

                <span asp-validation-for="@Model.WorkLeavingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.WorkLeavingReasons"></label>
                <textarea  asp-for="@Model.WorkLeavingReasons" class="form-control"
                       autocomplete="username" ></textarea>

                <span asp-validation-for="@Model.WorkLeavingReasons" class="text-danger"></span>
            </div>





            



            <br />
            <h3>Education Info</h3>

          <hr />

          <div class="row">

  <div class="form-group col-lg-4 col-sm-12">
                <label asp-for="@Model.AcademicQualification"></label>
                <input asp-for="@Model.AcademicQualification" class="form-control"
                       autocomplete="username" />

                <span asp-validation-for="@Model.AcademicQualification" class="text-danger"></span>
            </div> 
            
            <div class="form-group col-lg-4 col-sm-12">
                <label asp-for="@Model.University"></label>
                <input asp-for="@Model.University" class="form-control"
                       autocomplete="username" />

                <span asp-validation-for="@Model.University" class="text-danger"></span>
            </div>
            
            <div class="form-group col-lg-4 col-sm-12">
                <label asp-for="@Model.GradutionYear"></label>
                <input asp-for="@Model.GradutionYear" class="form-control"
                       autocomplete="username" />

                <span asp-validation-for="@Model.GradutionYear" class="text-danger"></span>
            </div>
            

          </div>
          
            <div class="form-group">
                <label asp-for="@Model.HighStudies"></label>
                <input asp-for="@Model.HighStudies" class="form-control"
                       autocomplete="username" />

                <span asp-validation-for="@Model.HighStudies" class="text-danger"></span>
            </div>










          
            
            
            <button id="" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
    
        
        
        </form>
   
    
    
    
    </div>
 
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    @*  <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if (/*(Model.ExternalLogins?.Count ?? 0)*/ 0== 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    //<form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    //    <div>
                    //        <p>
                    //            @foreach (var provider in Model.ExternalLogins)
                    //            {
                    //                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                    //            }
                    //        </p>
                    //    </div>
                    //</form>
                }
            }
        </section>
    </div>
</div>

*@



<script src="~/js/registration.js"></script>
