@{

    Layout = "_AdminLayout";

}

@model Content


<h3>@localizer["ethics"] </h3>

<input type="file" id="ck_imageUploader" accept="image/gif, image/jpeg, image/png"
       style="display:none;" />


<form asp-action="Ethics" asp-controller="Content" asp-area="Admin">
    @Html.HiddenFor(y=>y.Id)

    <div class="rounded-div">
    <h5>@localizer["descen"]</h5>
<textarea id="editor" asp-for="@Model.DescriptionEn"></textarea>
</div>
<br />
        <div class="rounded-div">
    <h5>@localizer["descar"]</h5>

<textarea id="editorAr" asp-for="@Model.DescriptionAr"></textarea>
</div>


    <button type="submit" class="btn btn-primary">@localizer["submit"]</button>
</form>




<script src="~/js/ckeditor/ckeditor.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>


<script>

    $(document).ready(function () {
        CKEDITOR.replace("editor");
    });

    $(document).ready(function () {
        CKEDITOR.replace("editorAr");
    });
</script>