@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ESTA.ViewModels.CourseLevelsViewModel


<h2>Add New Course</h2>
<hr />
@*@if (Model.course==null)
{
    <script>
        alert("Error ")
    </script>
}*@
<style>
  


</style>
<form method="post" enctype="multipart/form-data">


    <input style="display:none" asp-for=@Model.ImgFile id="upload" type="file" accept="image/*"
           onchange="ImageChange(event)">



        @*   @Html.EditorFor(M=>M.ImgFile,"xxx","sss",new{ @type="file"})*@
    <div onclick="GetPhoto()" id="photoDiv" class="" style="">


    </div>



<script>
      //  document.getElementById('output').src = window.URL.createObjectURL(this.files[0])
        

</script>

  @*  @Html.ValidationSummary(false,"","text-danger")*@
    <div class="row">
<div class="form-group col-6">
    <label>Title</label>
 @*   <input type="text" class="form-control"  />*@
 @*   @Html.EditorFor(M=>M.course.Title, new { htmlAttributes = new { @class = "form-control" } })*@
            <input asp-for=@Model.course.Title class="form-control" type="text" />
            @Html.ValidationMessageFor(k=>k.course.Title,"",new {@class="text-danger"})

            <span asp-validation-for=@Model.course.Title style="color: blue;"></span>
</div>
<div class="form-group col-6">
    <label>Title in Arabic</label>

            <input asp-for=@Model.course.TitleAr class="form-control" type="text" />
            @Html.ValidationMessageFor(k=>k.course.TitleAr,"",new {@class="text-danger"})

            <span asp-validation-for=@Model.course.TitleAr style="color: blue;"></span>
</div>
     
    </div>
   <div class="form-group ">
        <label>Start Date</label>
        @Html.EditorFor(M=>M.course.StartDate, new { htmlAttributes = new { @class = "form-control" ,@type="date" } })
            @Html.ValidationMessageFor(k=>k.course.StartDate,"",new {@class="text-danger"})
    </div>
    <div class="row">

<div class="form-group col-4">
        <label>Payment Link</label>
        @*   <input type="text" class="form-control"  />*@
        @Html.EditorFor(M=>M.course.PaymentLink, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(k=>k.course.PaymentLink,"",new {@class="text-danger"})

    </div>
    <div class="form-group col-4">
        <label>Price</label>
        @*   <input type="text" class="form-control"  />*@
        @Html.EditorFor(M=>M.course.Price, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(k=>k.course.Price,"",new {@class="text-danger"})

    </div>
        <div class="form-group  col-4">
            <label>Final Grade</label>
            @Html.EditorFor(M=>M.course.FinalGrade, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(k=>k.course.FinalGrade,"",new {@class="text-danger"})
        </div>
    </div>
    


   
    <div class="form-group">
        <label>Level</label>
       @Html.DropDownListFor(model => model.course.LevelId, new SelectList(Model.Levels, "Id", "TypeName"), "Select Course Level ......", new { @class = "form-control " })
      
        @Html.ValidationMessageFor(k=>k.course.LevelId,"",new {@class="text-danger"})
    </div>



    <div class="form-group col-12">
        <label>Description</label>

        <textarea asp-for=@Model.course.Description class="form-control"></textarea>
        @Html.ValidationMessageFor(k=>k.course.Description,"",new {@class="text-danger"})

        <span asp-validation-for=@Model.course.Description style="color: blue;"></span>
    </div>

    <div class="form-group col-12">
        <label>Description In Arabic</label>

     
        <textarea asp-for=@Model.course.DescriptionAr class="form-control"></textarea>

        @Html.ValidationMessageFor(k=>k.course.DescriptionAr,"",new {@class="text-danger"})

        <span asp-validation-for=@Model.course.DescriptionAr style="color: blue;"></span>
    </div>

<button style="margin:auto" type="submit" class="btn btn-primary" >Submit</button>


</form>