


@model List<ESTA.Areas.Admin.Models.CertifiedMember>

@using Microsoft.Extensions.Localization
@using System.Globalization

@inject IStringLocalizer<SharedResource> localizer;
<div class="slider-area">
    <div class="page-title">
        <div class="single-slider slider-height slider-height-breadcrumb d-flex align-items-center" style="background-image: url(@Url.Content("~/template/img/inner-bg.png") );">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content slider-content-breadcrumb text-center">
                            <h1 class="white-color f-700">@localizer["cetaholders"]</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.Count == 0)
{
  @*  <p style="padding:40px" sty>  @localizer["notfound"]</p>*@
}
    <br />
<table class="" style="width:500px;margin :auto">



		<tbody>
        @foreach (var item in @Model )
        {
	
      
		<tr>
				<td style="display:flex;align-items:center;justify-content:space-evenly;border-bottom:0.2px solid #80808036">
					@*	@if (Thread.CurrentThread.CurrentCulture.Name == "ar")
						{*@
							<span class="ti-user" style="font-size:30px"></span>   
					      <span class="h4" style="font-weight:600">@item.Name</span>
						<hr />
					@*	}
						else
						{
						<span class="ti-user"></span>      <span class="h5">@item</span>
				<hr />
						}*@




				</td>

			</tr>
      
			
	
       



		

	}

	</tbody>

	</table>