@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ESTA.ViewModels.CourseLevelsViewModel


<h2>Edit Course</h2>
<hr />
<form method="post">
    @*  @Html.ValidationSummary(false,"","text-danger")*@
    <div class="row">
        <div class="form-group col-6">
            <label>Title</label>
            @*   <input type="text" class="form-control"  />*@
            @*   @Html.EditorFor(M=>M.course.Title, new { htmlAttributes = new { @class = "form-control" } })*@
            <input asp-for=@Model.course.Title class="form-control" type="text" />
            @Html.ValidationMessageFor(k=>k.course.Title,"",new {@class="text-danger"})

            <span asp-validation-for=@Model.course.Title style="color: blue;"></span>
        </div>
        <div class="form-group col-6">
            <label>Start Date</label>
          <input class="form-control" asp-for=@Model.course.StartDate   type="date"/>
            @Html.ValidationMessageFor(k=>k.course.StartDate,"",new {@class="text-danger"})
        </div>
    </div>


        <div class="row">

<div class="form-group col-6">
        <label>Payment Link</label>
        @*   <input type="text" class="form-control"  />*@
        @Html.EditorFor(M=>M.course.PaymentLink, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(k=>k.course.PaymentLink,"",new {@class="text-danger"})

    </div>
    <div class="form-group col-6">
        <label>Price</label>
        @*   <input type="text" class="form-control"  />*@
        @Html.EditorFor(M=>M.course.Price, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(k=>k.course.Price,"",new {@class="text-danger"})

    </div>

    </div>

    <div class="form-group">
        <label>Final Grade</label>
        @Html.EditorFor(M=>M.course.FinalGrade, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(k=>k.course.FinalGrade,"",new {@class="text-danger"})
    </div>


    <div class="form-group">
        <label>Level</label>
        @Html.DropDownListFor(model => model.course.LevelId, new SelectList(Model.Levels, "Id", "TypeName"), "Select Course Level ......", new { @class = "form-control " })

        @Html.ValidationMessageFor(k=>k.course.LevelId,"",new {@class="text-danger"})
    </div>



    <button type="submit" class="btn btn-primary">Submit</button>


</form>