@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model List<ESTA.Models.Course>



    <h2>All Courses</h2>
<p>
    @Html.ActionLink("Add New Course", "AddCourse", "", new { @class = "btn btn-primary" })
</p>
<table class="table table-striped">
        <thead >
            <tr>   <th>Title</th>
    <th>Final Grade</th>
    <th>Actions</th>

</tr>
         
        </thead>
        <tbody>

     
    @{
    foreach (var item in Model)
    {
      <tr>
      <td>@item.Title</td>
        <td>@item.FinalGrade</td>



                    <td>
                        @Html.ActionLink("Edit", "EditCourse", new { id = item.Id }, new { @class = "btn btn-primary" }) |
                        @Html.ActionLink("Details", "CourseDetails", new { id = item.Id }, new { @class = "btn btn-warning" }) |
                        @Html.ActionLink("Delete", "DeleteCourse", new { id = item.Id }, new { @class = "btn btn-danger", onclick = "return confirm('Are you Sure to delete , data will be lost?');" })
                    </td>
                </tr> 
    }
    }
	</tbody>
</table>