@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

@using ESTA.Helpers
@using Microsoft.Extensions.Localization
@using System.Globalization

@inject IStringLocalizer<SharedResource> localizer;
@model List<ESTA.Models.Course>
   <div class="slider-area">
        <div class="page-title">
        <div class="single-slider slider-height slider-height-breadcrumb d-flex align-items-center" style="background-image: url(@Url.Content("~/template/img/ceta_banner.jpg"));">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider-content slider-content-breadcrumb text-center">
                                <h1 class="white-color f-700">@localizer["othercourses"]</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider-end -->
    <div class="course-details-area  pt-50 pb-50">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="row">

                    @if (Model == null|| Model.Count==0)
                    {
                        <h4 class="text-danger">
                            @localizer["notfound"]
                        </h4>
                        }
@foreach (var item in Model)
{
                        <div class="col-xl-4 col-lg-4 col-md-6 aos-init aos-animate" data-aos="zoom-in-up" data-aos-duration="1500">
                            <div class="courses-wrapper courses-wrapper-3 mb-30">
                                <div class="courses-thumb">
                                    <a asp-action="coursedetails" asp-controller="courses" asp-route-id="@item.Id"><img src="@Url.Content("~"+@item.PhotoPath)" alt=""></a>
                                </div>
                                <div class="courses-content courses-content-3 clearfix">
                                    <div class="courses-heading mt-25 d-flex">
                                        <div class="course-title-3">
                                            <h1>
                                                <a asp-action="coursedetails" asp-controller="courses" asp-route-id="@item.Id">
                                                    @if (Thread.CurrentThread.CurrentCulture.Name == "ar")
                                                    {
                                                        @item.TitleAr
                                                    }
                                                    else
                                                    {
                                                        @item.Title
                                                    }
                                                
                                            
                                            
                                            </a></h1>
                                        </div>
                                        <div class="courses-pricing-3">
                                            <span>
                                                @if (item.Price <= 0)
                                                {
                                                    @localizer["free"]
                                                }
                                                else
                                                {
                                                    @item.Price.ToString("c",CultureInfo.GetCultureInfo(Constants.PriceCulture))

                                                }
                                            </span>
                                        </div>
                                    </div>
                                    <div class="courses-para mt-15">

                                       

                                        @if (Thread.CurrentThread.CurrentCulture.Name == "ar")
                                        {

                                            if(item.DescriptionAr.Count() > 45)
                                            {
                                                 <p>@item.DescriptionAr.Substring(0,45) ..</p>
                                            }else
                                            {
                                                <p>@item.DescriptionAr</p>
                                            }
                                        }
                                        else
                                        {
                                            if (item.Description.Count() > 45)
                                            {
                                                <p>@item.Description.Substring(0,45) ..</p>
                                            }
                                            else
                                            {
                                                <p>@item.Description</p>
                                            }    }
                                    
                                    </div>
                                    <div class="course-date mt-15">
                                        <span class="course-date-icon ti-calendar"></span>
                                        <span class="start-date-text">@localizer["stdate"] </span>
                                        <span>@item.StartDate.Value.Year/@item.StartDate.Value.Month/@item.StartDate.Value.Day</span>
                                    </div>
                                    <div class="courses-wrapper-bottom clearfix mt-35">
                                        <div class="courses-button">
											<a asp-action="coursedetails" asp-controller="courses" asp-route-id="@item.Id">@localizer["details"]</a>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            
                        
                        
                        
                        
                          
                    }

                      
                        
                        
              </div>

                </div>

            </div>
        </div>
    </div>
