@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Hello Content Conrolller</h2>




@Html.ActionLink("About","About",null,null,new { @class="btn btn-primary"})

@Html.ActionLink("Technical Analysis","TechnicalAnalysis",null,null,new { @class="btn btn-primary"})

@Html.ActionLink("Code of Ethics","Ethics",null,null,new { @class="btn btn-primary"})

@Html.ActionLink("Benefits","Benefits",null,null,new { @class="btn btn-primary"})

@Html.ActionLink("IFTA","Ifta",null,null,new { @class="btn btn-primary"})

