@model IEnumerable<ESTA.Models.Forum>

@{
    ViewData["Title"] = "_forums";
}




@foreach (var forum in Model)
{
 
   <div class="card mb-3">
                    <h5 class="card-header">
                        <a asp-action="GetForum" asp-controller="Forums" asp-route-id="@forum.Id">@forum.Title</a>
                    </h5>
                    <div class="card-body">
                        <p class="card-text">@forum.Description</p>
                    </div>
                @*    @if (role)
                    {
                        <div class="card-footer">
                            <a asp-controller="Forums" asp-action="EditForum" asp-route-id="@forum.Id" class="btn btn-secondary">
                                Edit
                            </a>
                            <button onclick="showModal(@forum.Id)" class="btn btn-danger">
                                Delete
                            </button>
                        </div>
                    }*@
                </div> 


}
   


