@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ESTA.ViewModels.DisplayEventPartial



    @foreach (var eventObj in Model.Events)
    {
        <div class="col" id="cards">
            <div class="card mb-2 h-100" style="width: 18rem;">
                <img src="@eventObj.Image" class="card-img-top" alt="EventImg">
                <div class="card-body">
                    <h5 class="card-title">@eventObj.Title</h5>
                    <p class="card-text">
                        @eventObj.Description...
                        <span>
                            <a asp-action="GetEvent" asp-route-id="@eventObj.Id">@ESTA.Resources.EventsNews.readMore</a>
                        </span>
                    </p>

                </div>
                <div class="row justify-content-lg-around row-cols-3 mb-2">
                    <a asp-action="EditEvent" asp-route-id="@eventObj.Id" class="btn btn-secondary col" class="btn btn-primary">@ESTA.Resources.EventsNews.Edit</a>
                    <a asp-action="DeleteEvent" asp-route-id="@eventObj.Id" class="btn btn-danger col">@ESTA.Resources.EventsNews.Delete</a>
                </div>
            </div>
        </div>
    }

