@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<ESTA.ViewModels.DisplayEvents>

@foreach (var eventObj in Model)
{
    <div class="col-xl-4 col-lg-4 col-md-6">
        <div class="blog-wrapper bg-grey mb-30">
            <div class="blog-thumb mb-25">
                <a href="/EventsNews/GetEvent/@eventObj.Id">
                    <img src="@eventObj.Image" style="height: 202px;" alt="">
                </a>
                @if (eventObj.Flag == 1)
                {
                    <span class="blog-category">@ESTA.Resources.EventsNews.News</span>
                }
                else
                {
                    <span class="blog-category">@ESTA.Resources.EventsNews.Event</span>
                }

            </div>
            <div class="blog-content">
                @if (eventObj.Date.HasValue)
                {
                    <div class="blog-meta">
                        <span>@eventObj.Date.Value.ToString("yyyy-MMM-dd")</span>
                </div>
                }
                <h5><a href="/EventsNews/GetEvent/@eventObj.Id">@eventObj.Title</a></h5>
                <p style="word-break: break-word;">@eventObj.Description...</p>
                <div class="read-more-btn">
                    <a class="" href="/EventsNews/GetEvent/@eventObj.Id"><span class="">
                        @ESTA.Resources.EventsNews.readMore
                    </span></a>
                </div>
            </div>
        </div>
    </div>
}

