@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ESTA.ViewModels.EditEvents
<style>
    .file-upload {
        background-color: #ffffff;
        width: 600px;
        margin: 0 auto;
        padding: 20px;
    }

    .file-upload-input {
        position: absolute;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        outline: none;
        opacity: 0;
        cursor: pointer;
    }

    .image-upload-wrap {
        margin-top: 20px;
        border: 2px dashed black;
        position: relative;
    }

        .image-dropping,
        .image-upload-wrap:hover {
            /*background-color: antiquewhite;*/
            border: 2px dashed black;
        }

    .image-title-wrap {
        padding: 0 15px 15px 15px;
        color: black;
    }

    .drag-text {
        text-align: center;
    }

        .drag-text h3 {
            font-weight: 100;
            text-transform: uppercase;
            color: black;
            padding: 60px 0;
        }

</style>
<input type="file" id="ck_imageUploader" accept="image/gif, image/jpeg, image/png" style="display:none;" />

<div class="card">
    <div class="card-footer">
        <input type="hidden" value="@Model.Id" asp-for="Id" />
        <form asp-action="EditEvent" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger">
            </div>
            <div class="file-upload my-2">
                <div class="image-upload-wrap">
                    <input class="file-upload-input" asp-for="ImageUpload" type='file' onchange="readURL(this);" accept="image/jpeg, image/png" />
                    <img class="img-fluid" id="imgSrc" src="@Model.Image" alt="your image" />
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="formTitle" class="form-label">@ESTA.Resources.EventsNews.EventTitleAr</label>
                    <input class="form-control" id="formTitle" type="text" asp-for="TitleAr" />
                    <span asp-validation-for="TitleAr" class="text-danger"></span>
                </div>

                <div class="col-6">
                    <label for="formTitleEn" class="form-label">@ESTA.Resources.EventsNews.EventTitleEn</label>
                    <input class="form-control" id="formTitleEn" type="text" asp-for="TitleEn" />
                    <span asp-validation-for="TitleEn" class="text-danger"></span>
                </div>
            </div>
            @if (Model.Date != null)
            {
                <div class="col-6 mt-3">
                    <label for="formDate" class="form-label">@ESTA.Resources.EventsNews.EventDate</label>
                    <input class="form-control" id="formDate" type="datetime-local" asp-for="Date" value="@Model.Date.Value.ToString("yyyy-MM-dd hh:mm:ss")" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
            }
            else
            {
                <div class="col-6 mt-3">
                    <label for="formDate" class="form-label">@ESTA.Resources.EventsNews.EventDate</label>
                    <input class="form-control" id="formDate" type="datetime-local" asp-for="Date" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
            }

            <div class="col-12 mt-3">
                <label for="editor_ar" class="form-label">@ESTA.Resources.EventsNews.EventDetailsAr</label>
                <textarea class="form-control" id="editor_ar" asp-for="DetailsAr"></textarea>
                <span asp-validation-for="DetailsAr" class="text-danger"></span>
            </div>

            <div class="col-12 mt-3">
                <label for="editor_en" class="form-label">@ESTA.Resources.EventsNews.EventDetailsEn</label>
                <textarea class="form-control" id="editor_en" asp-for="DetailsEn"></textarea>
                <span asp-validation-for="DetailsEn" class="text-danger"></span>
            </div>

            <div class="col-12 mt-3">
                <label class="form-label">@ESTA.Resources.EventsNews.NewsOrEvent</label>
                <div class="form-check">
                    @Html.RadioButtonFor(m=>m.Flag,1, new{@class="form-check-input",@id="flexRadioDefault1"})
                    <label class="form-check-label" for="flexRadioDefault1">
                        @ESTA.Resources.EventsNews.News
                    </label>
                </div>
                <div class="form-check">
                    @Html.RadioButtonFor(m=>m.Flag,0, new{@class="form-check-input",@id="flexRadioDefault2"})
                    <label class="form-check-label" for="flexRadioDefault2">
                        @ESTA.Resources.EventsNews.Event
                    </label>
                </div>
                <span asp-validation-for="Flag" class="text-danger"></span>
            </div>

            <div class="col-12 mt-3">
                <label class="form-label">@ESTA.Resources.EventsNews.EventType</label>
                <div class="form-check">
                    @Html.RadioButtonFor(m=>m.EventType,1, new{@class="form-check-input",@id="flexRadioDefault3"})
                    <label class="form-check-label" for="flexRadioDefault3">
                        @ESTA.Resources.EventsNews.EstaEvent
                    </label>
                </div>
                <div class="form-check">
                    @Html.RadioButtonFor(m=>m.EventType,0, new{@class="form-check-input",@id="flexRadioDefault4"})
                    <label class="form-check-label" for="flexRadioDefault4">
                        @ESTA.Resources.EventsNews.SocialEvent
                    </label>
                </div>
            </div>

            <div class="col-12 mt-3">
                <button type="submit" class="btn btn-primary">@ESTA.Resources.EventsNews.Submit</button>
                <a asp-action="Index" class="btn btn-secondary">@ESTA.Resources.EventsNews.Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_validationscriptspartial.cshtml");
    }
    <script>

        function readURL(input) {
            if (input.files && input.files[0]) {
                var formData = new FormData();
                const url = URL.createObjectURL(input.files[0]);
                console.log(input.files[0])
                console.log(url)
                $('#imgSrc').attr('src', url);
                $('#imgSrc').css('display', 'block');
                $('.drag-text').hide();
            }
        }

    </script>
}