@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<ESTA.ViewModels.DisplayEventPartial>

<style>
    .nav-pills .nav-link {
        border: 0px
    }
</style>
<div class="slider-area">
    <div class="page-title">
        <div class="single-slider slider-height slider-height-breadcrumb d-flex align-items-center" style="background-image: url(template/img/inner-bg.png);">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content slider-content-breadcrumb text-center">
                            <h1 class="white-color f-700">@ESTA.Resources.EventsNews.News_Events</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="nav flex-column nav-pills mt-50" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <button class="nav-link active" id="v-pills-news-tab" data-toggle="pill" data-target="#v-pills-news" type="button" role="tab" aria-controls="v-pills-news" aria-selected="true">@ESTA.Resources.EventsNews.News</button>
                <button class="nav-link" id="v-pills-social-tab" data-toggle="pill" data-target="#v-pills-social" type="button" role="tab" aria-controls="v-pills-social" aria-selected="false">@ESTA.Resources.EventsNews.SocialEvent</button>
                <button class="nav-link" id="v-pills-esta-tab" data-toggle="pill" data-target="#v-pills-esta" type="button" role="tab" aria-controls="v-pills-esta" aria-selected="false">@ESTA.Resources.EventsNews.EstaEvent</button>
            </div>
        </div>
        <div class="col-9">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-news" role="tabpanel" aria-labelledby="v-pills-news-tab">
                    @{
                        await Html.RenderPartialAsync("_DisplayEvent", Model.Where(x => x.DivId == "News").FirstOrDefault());
                    }
                </div>
                <div class="tab-pane fade" id="v-pills-social" role="tabpanel" aria-labelledby="v-pills-social-tab">
                    @{
                        await Html.RenderPartialAsync("_DisplayEvent", Model.Where(x => x.DivId == "Social").FirstOrDefault());
                    }
                </div>
                <div class="tab-pane fade" id="v-pills-esta" role="tabpanel" aria-labelledby="v-pills-esta-tab">
                    @{
                        await Html.RenderPartialAsync("_DisplayEvent", Model.Where(x => x.DivId == "Esta").FirstOrDefault());
                    }
                </div>
            </div>
            <input type="hidden" value="1" id="pageNews" />
            <input type="hidden" value="1" id="pageSocial" />
            <input type="hidden" value="1" id="pageEsta" />
        </div>
    </div>
</div>

@section Scripts{

    <script>

        function LoadMoreEvents(div, flag, event) {
            var page = $('#page' + div).val();
            page = parseInt(page)
            $.ajax({
                type: 'get',
                url: '@this.Url.Action("EventsNews","GetEventsPage")',
                data: {
                    page: page,
                    Flag: flag,
                    EventType: event
                },
                success: function (data) {
                    $('#cards' + div).append(data);
                    $('#page' + div).val(page + 1);
                    checkMoreEvents(div, flag, event);
                },
                error: function (data) {
                    console.log(data)
                }
            });
        }

        function checkMoreEvents(div, flag, event) {
            var page = $('#page' + div).val();
            $.ajax({
                type: 'get',
                url: '@this.Url.Action("EventsNews","CheckMoreEvents")',
                data: {
                    page: page,
                    Flag: flag,
                    EventType: event
                },
                success: function (data) {
                    if (!data) {
                        $('#MoreBtn' + div).hide();
                    }
                },
                error: function (data) {
                    console.log(data)
                }
            });
        }
    </script>
    }
