@{

    Layout = "_AdminLayout";

}
@model IEnumerable<ESTA.Models.Director>




    <div class="page-head" >


<h2 col-6>@localizer["board"]</h2>



@Html.ActionLink(localizer["adddirector"],"AddDirector",null,null,new { @class="btn btn-primary"})

    </div>



<br />
@if (Model.Count() > 0)
{
    <div id="courses-grid" class="animate__fadeIn rounded-div" style="animation-duration:1s;display:grid;gap:15px; grid-template-columns:1fr 1fr 1fr 1fr">
        @foreach (var item in Model)
        {
            <div class="card" style="height:fit-content; position:relative">



                <img src="@Url.Content("~"+item.PhotoPath)" height="200px" />

                @if (Thread.CurrentThread.CurrentCulture.Name == "ar")
                {
                    <div class="card-body">
                        @item.NameAr
                        <br><strong style="color:green"> @item.JobAr</strong>
                    </div>
                }
                else
                {
                    <div class="card-body">
                        @item.NameEn
                        <br><strong style="color:green"> @item.JobEn</strong>
                    </div>
                }


                @Html.ActionLink(@localizer["edit"], "EditDirector", new { id = item.Id }, new { @class = "btn btn-light" }) 
                @Html.ActionLink(localizer["delete"], "DeleteDirector", new { id = item.Id }, new { @class = "btn btn-danger", onclick = "return confirm('Are you Sure to delete , data will be lost?');" })




            </div>
        }

  






   


    </div>

    }
    <br />

<script src="~/lib/jquery/dist/jquery.min.js"></script>
  


 <style>
        .card{
        transition:0.5s ease-in-out; overflow:hidden;
        /*z-index:10;
        */
        }

        .card:hover{

     transform: scale(0.94,.94);
        
        }

    </style>
