@{

    Layout = "_AdminLayout";

}


@model ESTA.ViewModels.PagerViewModel<User>

<h2>@localizer["usersmanagement"] 
    - 
    @if (ViewBag.type == 1) {
        <span>@localizer["allmem"] </span>
    }else if (ViewBag.type == 2) {
        <span>@localizer["oldmem"] </span>
    } else if (ViewBag.type==3) {
        <span>@localizer["newmem"] </span>
    }
    else if (ViewBag.type ==4)
    {
        <span>@localizer["localmem"] </span>
    }
    else if (ViewBag.type == 5)
    {
        <span>@localizer["forignmem"] </span>
    }

</h2>

<script>

    function SearchUser()
    {
        var userKeyword= document.getElementById("search").value;
    console.log(userKeyword);
    
    }
</script>


<div class="rounded-div" >
@*    <div class="row">
        <form action="Search">
			<input class="form-control" name="query" style="border-raduis:80px" id="search" oninput="SearchUser()" />
			<input value="Search"  type="submit" />

        </form>


    </div>*@
    <a asp-action="EditMempership" style="decoration:none" asp-controller="Constants" asp-area="Admin">@localizer["membership"]</a>


	<a asp-action="Index" style="decoration:none" asp-controller="Users" class="btn btn-primary"
	   asp-route-type=1 asp-area="Admin">@localizer["allmem"]</a>
        <a asp-action="Index" style="decoration:none" asp-controller="Users"
       class="btn btn-primary" asp-route-type=3 asp-area="Admin">@localizer["newmem"]</a>

 
@* 
        @if (ViewBag.type == 3)
    {
        <a asp-action="Index" style="decoration:none" asp-controller="Users" class="btn btn-primary" 
        asp-route-type=2 asp-area="Admin">@localizer["oldmem"]</a>
      <a asp-action="Index" style="decoration:none" asp-controller="Users" class="btn btn-primary"
       asp-route-type=1 asp-area="Admin">@localizer["allmem"]</a>
    }
    else if (ViewBag.type == 1) 
    {*@
        <a asp-action="Index" style="decoration:none" asp-controller="Users" 
        class="btn btn-primary" asp-route-type=2 asp-area="Admin">@localizer["oldmem"]</a>
 @*       <a asp-action="Index" style="decoration:none" asp-controller="Users" class="btn btn-primary"
        asp-route-type=3 asp-area="Admin">@localizer["newmem"]</a>

    }
*@


 
    <a asp-action="Index" style="decoration:none" asp-controller="Users" class="btn btn-info"
       asp-route-type=5 asp-area="Admin">@localizer["forignmem"]</a>
 
    <a asp-action="Index" style="decoration:none" asp-controller="Users"
       class="btn btn-info" asp-route-type=4 asp-area="Admin">@localizer["localmem"] </a>




    <a class="btn btn-success" asp-action="ExportUsersToFile" asp-controller="Users" asp-area="Admin"><i class="fa fa-regular fa-file-excel mx-1"></i>@localizer["exportToExcel"]</a>

	<table id="courses-table" class="table table-striped animate__fadeIn " style="animation-duration:1s">
		<thead>
			<tr>
				<th>@localizer["fullname"]</th>
                	<th>@localizer["country"]</th>
				<th>@localizer["regdate"]</th>
                <th>@localizer["membership"]</th>

				<th colspan="3">@localizer["actions"]</th>





			</tr>

		</thead>
		<tbody>


			@{
				foreach (var item in Model.PaginatedList)
				{
                                <tr>
                                    <td>@item.FullName</td>



                                    <td>@item.Country</td>


                                    <td>@item.JoinDate.ToShortDateString()</td>





                                    <td>
                            @if (item.IsMempershipPaid)
                            {
                                @Html.ActionLink(localizer["endMem"], "EditMempership", new { id = item.Id,isPaid=false }, new { @class = "btn btn-danger" })
                                ;

                            }
                            else
                            {
                                @Html.ActionLink(localizer["paymem"], "EditMempership", new { id = item.Id,isPaid=true }, new { @class = "btn btn-success" })
                                ;

                            }
                        </td>


                                    @if(item.Email!="Admin@Admin.com") { 
                        
        
                                    <td>
                                        @if (item.IsApproved)
							{
                                            @Html.ActionLink(localizer["disapprove"], "EditApproval", new { id = item.Id,isApproved=false }, new { @class = "btn btn-danger" })
								;

							}
							else
							{
                                            @Html.ActionLink(localizer["approve"], "EditApproval", new { id = item.Id,isApproved=true }, new { @class = "btn btn-success" })
								;

							}
            |

                                        @if (item.EmailConfirmed)
							{
                                            @Html.ActionLink(localizer["rejectemail"],  "EditEmailConfirmation", new { id = item.Id,isConfirmed=false }, new { @class = "btn btn-danger" })
								;

							}
							else
							{
                                            @Html.ActionLink(localizer["confirmemail"], "EditEmailConfirmation", new { id = item.Id,isConfirmed=true }, new { @class = "btn btn-primary" })
								;

							}


                                     
              
                                         
                                    |

                                        @Html.ActionLink(@localizer["resetpassword"], "ResetPassword", new { Email =item.Email }, new { @class = "btn btn-warning"  ,@onclick = "return confirm('Reset Password for this  user?');"} )

                                    |
                                        @Html.ActionLink(localizer["details"], "UserDetails", new { userId =item.Id },
                                        new { @class = "btn btn-Info" })
                                        <!--<a> 
                                        <i class="fas fa-bars" style="color: #325087;"></i>
                                        </a>-->
                      
                                    </td>
                  
                }
                                
                              
                                </tr>
				}
			}
		</tbody>
	</table>
</div>


         

<nav aria-label="Page navigation example">

<span>
		@localizer["pagesc"] :        @Model.TotalPages
</span>

    <ul class="pagination justify-content-end">

        @if (@Model.CurrentPage > 1)
        {
            <li class="page-item ">
                <a class="page-link"
               asp-action="index"
               asp-controller="users" asp-area="admin" asp-route-type=@ViewBag.type
               asp-route-page="@(Model.CurrentPage-1)">@localizer["prev"]</a>
            </li>
        }
        @for (int i = 1; i <= Model.TotalPages; i++)
        {


            if (Model.TotalPages == 1) break;
            @if (i == Model.CurrentPage)
            {
                <li class="page-item active">

                    <a class="page-link" asp-action="index" asp-route-type=@ViewBag.type
               asp-controller="users" asp-area="admin"
               asp-route-page="@i">
                        @i
                    </a>
                </li>
            }
            else
            {
                @if ((Model.CurrentPage - i) < 3 && (Model.CurrentPage - i) > -3)
                {
                    <li class="page-item">

                        <a class="page-link" asp-action="index" asp-route-type=@ViewBag.type
               asp-controller="users" asp-area="admin"
               asp-route-page="@i">
                            @i
                        </a>
                    </li>
                }
            }


        }
        @if (@Model.CurrentPage != Model.TotalPages && Model.TotalPages > 1)
        {
            <li class="page-item">
                <a class="page-link" asp-action="index" asp-route-type=@ViewBag.type
               asp-controller="users" asp-area="admin"
               asp-route-page="@(Model.CurrentPage+1)">@localizer["next"]</a>
            </li>
        }
    </ul>

</nav>




@*
<div id="courses-grid" style="display:grid;gap:15px; grid-template-columns:1fr 1fr 1fr 1fr">

                            @foreach (var item in Model.PaginatedList)
                            {




        <div class="card animate__fadeIn" style="height:fit-content; position:relative">



        <img src="~/Images/Directors/person.jpg" height="200px" />


        <div class="card-body">
         
                <strong style="color:green"> @item.FullName</strong><br>
               Joined since @item.JoinDate.ToShortDateString()

        </div>

   

        @if (item.EmailConfirmed)
        {
            @Html.ActionLink("Reject Email",  "EditEmailConfirmation", new { id = item.Id,isConfirmed=false }, new { @class = "btn btn-warning" })
            ;

        }
        else
        {
            @Html.ActionLink("Confirm Email", "EditEmailConfirmation", new { id = item.Id,isConfirmed=true }, new { @class = "btn btn-primary" })
            ;

        }

             @Html.ActionLink("Details", "UserDetails", new { userId =item.Id }, new { @class = "btn btn-Info" })


        @if (item.IsApproved)
        {
            @Html.ActionLink("Disapprove", "EditApproval", new { id = item.Id,isApproved=false }, new { @class = "btn btn-warning" })
            ;

        }
        else
        {
            @Html.ActionLink("Approve", "EditApproval", new { id = item.Id,isApproved=true }, new { @class = "btn btn-danger" })
            ;

        }


    </div>

}
    </div>*@