@using ESTA.ViewModels
@model ESTA.ViewModels.ResetPasswordViewModel




<style>
    .form-label {
        top: -15px !important;
        color: blueviolet;
    }

</style>

<div class="row" style="justify-content:center ; height:100%;align-items:center">
    <div class="col-md-4">
        <br /><br />
        <section>
            <form id="Account" asp-action="ChangePassword" method="post">
   @*            @Html.HiddenFor(y=>y.Token)*@
               @Html.HiddenFor(y=>y.Email)
                <h2> @localizer["resetpassword"] </h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <label asp-for="@Model.NewPassword" class="form-label"></label>
                    <input asp-for="@Model.NewPassword" class="form-control"  />

                    <span asp-validation-for="@Model.NewPassword" class="text-danger"></span>
                </div>
                <br>

                <div class="form-floating">
                    <label asp-for="@Model.ConfirmNewPassword" class="form-label"></label>
                    <input asp-for="@Model.ConfirmNewPassword" class="form-control" />

                    <span asp-validation-for="@Model.ConfirmNewPassword" class="text-danger"></span>
                </div>

                <div>
                    @*  <div class="checkbox">
                    <label asp-for="@Model.RememberMe" class="form-label">

                    @Html.DisplayNameFor(m => m.RememberMe)
                    <input class="form-check-input" asp-for="@Model.RememberMe" />
                    </label>
                    </div>*@
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">@localizer["submit"]</button>
                </div>
                <div>
                </div>
            </form>
        </section>
    </div>

</div>




<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/template/js/vendor/modernizr-3.5.0.min.js"></script>
<script src="~/template/aos/aos.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>


