@{

    Layout = "_AdminLayout";

}
@model ESTA.ViewModels.CourseLevelsViewModel
 

<link href="~/css/course.css" rel="stylesheet" />

<h2>@localizer["addnewcourse"]</h2>

@*@if (Model.course==null)
{
    <script>
        alert("Error ")
    </script>
}*@
<style>
  


</style>

<div class="neuDiv" id="kk" style="margin:auto">

<form method="post" enctype="multipart/form-data">


    <input style="display:none" asp-for=@Model.ImgFile id="upload" type="file" accept="image/*"
           onchange="ImageChange(event)">



        @*   @Html.EditorFor(M=>M.ImgFile,"xxx","sss",new{ @type="file"})*@
    <div onclick="GetPhoto()" id="photoDiv" class="" style="">
        <h5>Click to Upload Image</h5>
    </div>




  @*  @Html.ValidationSummary(false,"","text-danger")*@
    <div class="row">
<div class="form-group col-6">
    <label asp-for="@Model.course.Title"></label>
    <div class="title">
  <input asp-for=@Model.course.Title class="" type="text" />
          

    </div>
            @Html.ValidationMessageFor(k=>k.course.Title,"",new {@class="text-danger"})

    
</div>
<div class="form-group col-6">
                <label asp-for="@Model.course.TitleAr"></label>

            <input asp-for=@Model.course.TitleAr class="" type="text" />
            @Html.ValidationMessageFor(k=>k.course.TitleAr,"",new {@class="text-danger"})

      
</div>
     
    </div>

        

    <div class="row">

<div class="form-group col-4">
                <label asp-for="@Model.course.PaymentLink"></label>
        @*   <input type="text" class="form-control"  />*@
        @Html.EditorFor(M=>M.course.PaymentLink, new { htmlAttributes = new { @class = "" } })
        @Html.ValidationMessageFor(k=>k.course.PaymentLink,"",new {@class="text-danger"})

    </div>
    <div class="form-group col-4">
                <label asp-for="@Model.course.Price"></label>
        @*   <input type="text" class="form-control"  />*@
        @Html.EditorFor(M=>M.course.Price, new { htmlAttributes = new { @class = "form-" } })
        @Html.ValidationMessageFor(k=>k.course.Price,"",new {@class="text-danger"})

    </div>
        <div class="form-group  col-4">
                <label asp-for="@Model.course.FinalGrade"></label>
            @Html.EditorFor(M=>M.course.FinalGrade, new { htmlAttributes = new { @class = "" } })
            @Html.ValidationMessageFor(k=>k.course.FinalGrade,"",new {@class="text-danger"})
        </div>
    </div>




        <div class="row">
            <div class="form-group col-6">
                <label><label asp-for="@Model.course.level"></label></label>
                @Html.DropDownListFor(model => model.course.LevelId, new SelectList(Model.Levels, "Id", "TypeName"), localizer["selectlevel"], new { @class = " " })

                @Html.ValidationMessageFor(k=>k.course.LevelId,"",new {@class="text-danger"})
            </div>
            <div class="form-group col-6">
              <label asp-for="@Model.course.StartDate"></label>
                @Html.EditorFor(M=>M.course.StartDate, new { htmlAttributes = new { @class = "" ,@type="date" } })
                @Html.ValidationMessageFor(k=>k.course.StartDate,"",new {@class="text-danger"})
            </div>
        </div>


    <div class="form-group col-12">
            <label asp-for="@Model.course.Description"></label>

        <textarea asp-for=@Model.course.Description class=""></textarea>
        @Html.ValidationMessageFor(k=>k.course.Description,"",new {@class="text-danger"})

        <span asp-validation-for=@Model.course.Description style="color: blue;"></span>
    </div>

    <div class="form-group col-12">
            <label asp-for="@Model.course.DescriptionAr"></label>

     
        <textarea asp-for=@Model.course.DescriptionAr class=""></textarea>

        @Html.ValidationMessageFor(k=>k.course.DescriptionAr,"",new {@class="text-danger"})

        <span asp-validation-for=@Model.course.DescriptionAr style="color: blue;"></span>
    </div>

<button style="margin:auto" type="submit" class="btn btn-primary" >@localizer["submit"]</button>


</form>



</div>


<script src="~/js/course.js"></script>
