@using System.Globalization
@using ESTA.Helpers
@{

    Layout = "_AdminLayout";

}
@model ESTA.ViewModels.AdminCourseInfoViewModel





<!--This View For Admin-->


<div class="row rounded-div">


<img class="col-4" src="@Url.Content("~"+Model.course.PhotoPath)"  style="margin:auto ;    border-radius: 30px;"/>


<div class="col-8">

        <h2 class="text-danger">
            
            
            @if (Thread.CurrentThread.CurrentCulture.Name == "ar") 
            {
                <span>@Model.course.TitleAr  </span> 
            }
            else 
            {
           <span> @Model.course.Title</span>
            }

            <p class="floating" style="color:gray">
                @Model.course.Price.ToString("c",CultureInfo.GetCultureInfo(Constants.PriceCulture))
            </p>
        </h2>

		<h4>@Model.course.level.TypeName</h4>

        @if (Thread.CurrentThread.CurrentCulture.Name=="ar") {
            <h6>@Model.course.DescriptionAr</h6>
        }else{
            <h6>@Model.course.Description</h6>
        
        }


</div>


</div>




@if (Model.Users.Count() > 0)
{

    <hr />


    <h3>
        @localizer["enrolledusers"]

    </h3>



    <table id="courses-table" class="table" >
        <thead>
            <tr>


                <th>@localizer["name"]</th>
                <th>@localizer["emailus"]</th>
                <th>@localizer["enrolldate"]</th>
                <th>@localizer["paystate"]</th>
                <th>@localizer["actions"]</th>

            </tr>

        </thead>
        <tbody>



            @foreach (var item in Model.Users)
            {
                <tr>
                    <td>@item.user.FullName</td>

                    <td>@item.user.Email</td>
                    <td>@item.EnrollmentDate.ToShortDateString()</td>



                    @if(item.isPaid)
                    {
                        <td style="color:green"> @localizer["done"] </td>

                        <td>
                            @Html.ActionLink(@localizer["revokepaid"], "UpdateCoursePaymentStatuse",
                new { cid = Model.course.Id,uid=item.UserId,paymentstate=false }, new { @class = "btn btn-danger" }) ;
                        </td>
                    }
                    else
                    {

                        <td style="color:green"> @localizer["pending"] </td>
                        <td>
                            @Html.ActionLink(@localizer["markpaid"], "UpdateCoursePaymentStatuse",
                new { cid = Model.course.Id,uid=item.UserId,paymentstate=true }, new { @class = "btn btn-primary" }) ;
                        </td>
                    }



                }

            </tr>


        }


    </tbody>
</table>




}

