@model ESTA.Models.Content
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResource> localizer;

<div class="slider-area">
    <div class="page-title">
        <div class="single-slider slider-height slider-height-breadcrumb d-flex align-items-center" style="background-image: url(@Url.Content("~/template/img/inner-bg.png")");">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content slider-content-breadcrumb text-center">
                            <h1 class="white-color f-700">@ViewBag.about</h1>
                            <nav class="text-center" aria-label="breadcrumb">
                                <ol class="breadcrumb justify-content-center">
                                    <li class="breadcrumb-item"><a href="#">@localizer["home"]</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">@localizer["about"]</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container" style="margin:50px auto 50px auto">

   

 
@if (Model.DescriptionEn!=null )
{
        if (Thread.CurrentThread.CurrentCulture.Name == "ar")
        {
            @Html.Raw(Model.DescriptionAr.Replace("../../","../"))
        }
        else
        {
            @Html.Raw(Model.DescriptionEn.Replace("../../","../"))
        }
       
}
                       else{
                       
                   <p>  No Content to display</p>  
                       }

</div>
