@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ESTA.Models.Course





<div id="choice" style="z-index:2; display:none;backdrop-filter:blur(5px);position:absolute;top:0;bottom:0;right:0;left:0 ">

	
	<div style="    z-index: 10;
    background: white;
    padding: 32px;
    position: unset;
    width: 50%;
    margin: 20% 0% 0 25%;
    z-index: 10;
    border: 0.5px gray solid;
    /* margin: 24%; */
    border-radius: 15px;" >
		<p>Your Are Going to Enroll To This Course .Would You Like To Enroll & Pay Now Or Pay Later?  </p>
<a asp-controller="User" asp-action="Profile" class="btn btn-danger"> Enroll & Pay Now</a>
<a id="enroll" href="/User/EnrollCourse/@Model.Id" class="btn btn-warning"> Enroll & Pay Later</a>
	
		<a onclick="HideEnrollOptions()"  href="#" class=""> Cancel</a>

	</div>

</div>

<div class="row">

<img class="col-4" src="@Model.PhotoPath"  style="margin:auto ;    border-radius: 0px;"/>

<div class="col-8" style="    word-break: break-all;">

		<h2 class="text-danger">@Model.Title 
			<p style="float:right;color:gray">@Model.Price.ToString("c") <br> 
				<a onclick="ShowEnrollOptions()" id="enroll" href="#" class="btn btn-danger"> Enroll Now</a></p></h2>

		<h4>@Model.level.TypeName</h4>
		 Starts at:    @Model.StartDate.Value.ToShortDateString()
         
		<h6>@Model.Description</h6>

		

</div>

</div>

<hr />



<script>
//var ele=document.getElementById("enroll");


function ShowEnrollOptions()
{

var div=	document.getElementById("choice");

div.style.display="block";


}

function HideEnrollOptions(){

	var div=	document.getElementById("choice");

div.style.display="none";


}

</script>