@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- slider-start -->
<div class="slider-area">
    <div class="page-title">
        <div class="single-slider slider-height slider-height-breadcrumb d-flex align-items-center" style="background-image: url(@Url.Content("~/template/img/inner-bg.png"));">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content slider-content-breadcrumb text-center">
                            <h1 class="white-color f-700">Board Of Directors</h1>
                            <nav class="text-center" aria-label="breadcrumb">
                                <ol class="breadcrumb justify-content-center">
                                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="About" tabindex="0">About</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Board Of Directors</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider-end -->
<!-- team start -->
<div class="team-area pt-50 pb-50">
    <div class="container">

        <div class="team-list">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="team-wrapper mb-30">
                        <div class="team-thumb">
                            <img src="@Url.Content("~/template/img/person.png")" alt="board" />
                        </div>
                        <div class="team-social-info text-center">
                            <div class="team-social-para">
                                <p>Belis nisl adipiscing sapien malesu diame lacus eget erats</p>
                            </div>

                        </div>
                        <div class="team-teacher-info text-center">
                            <h1>Mohamed Younis</h1>
                            <h2>President</h2>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="team-wrapper mb-30">
                        <div class="team-thumb">
                            <img src="@Url.Content("~/template/img/person.png")" alt="board" />
                        </div>
                        <div class="team-social-info text-center">
                            <div class="team-social-para">
                                <p>Belis nisl adipiscing sapien malesu diame lacus eget erats</p>
                            </div>

                        </div>
                        <div class="team-teacher-info text-center">
                            <h1>Mrs. Randa Hamed</h1>
                            <h2>Deputy</h2>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="team-wrapper mb-30">
                        <div class="team-thumb">

                            <img src="@Url.Content("~/template/img/person.png")" alt="board" />
                        </div>
                        <div class="team-social-info text-center">
                            <div class="team-social-para">
                                <p>Belis nisl adipiscing sapien malesu diame lacus eget erats</p>
                            </div>

                        </div>
                        <div class="team-teacher-info text-center">
                            <h1>Dr. Hatem Elbana</h1>
                            <h2>Treasurer</h2>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="team-wrapper mb-30">
                        <div class="team-thumb">
                            <img src="@Url.Content("~/template/img/person.png")" alt="board" />
                        </div>
                        <div class="team-social-info text-center">
                            <div class="team-social-para">
                                <p>Belis nisl adipiscing sapien malesu diame lacus eget erats</p>
                            </div>

                        </div>
                        <div class="team-teacher-info text-center">
                            <h1>Mr. Shady Bahaa</h1>
                            <h2>Secretary</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- team end -->