@using Microsoft.Extensions.Localization
@using System.Text.RegularExpressions

@{
    ViewData["Title"] = "Home Page";
}

@model ESTA.ViewModels.HomeIndexViewModel

@inject IStringLocalizer<ESTA.SharedResource> localizer;





<!-- slider-start -->
<div class="slider-area pos-relative">


    <div class="slider-active">
        <div class="single-slider slider-height slider-height-3 d-flex align-items-center justify-content-center">
         <div id="video-div" style="height:500px;">

<video width="100%" loop muted autoplay  poster="@Url.Content("~/template/img/slider/banner3.png")" >
                <source src="@Url.Content("~/template/img/slider/1.mp4")" />


            </video>

         </div>
            
            <div class="container" style="position:absolute">
                <div class="row  justify-content-center" style="z-index:999999">
                    <div class="">
                        <div class="slider-content slider-content-2 slider-content-3 text-center">
                            <a asp-action="About" asp-controller="Home" asp-area="" asp-route-type="about">
                                <h1 class="white-color f-700" data-animation="fade-up" data-delay=".2s">@localizer["wel"]</h1>
                                <p data-animation="fade-up" data-delay=".4s">@localizer["esta"]</p>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
           
        </div>
        <div class="single-slider slider-height slider-height-3 d-flex align-items-center justify-content-center"
        style="background-image: url(@Url.Content("~/template/img/slider/banner2.jpg"))">
            <div class="container">
                <div class="row  justify-content-center">
                    <div class="">
                        <div class="slider-content slider-content-2 slider-content-3 text-center">
                                     <a asp-action="Register" asp-controller="Account" asp-area=""  >
                            <h1 class="white-color f-700" data-animation="fade-up" data-delay=".2s">@Html.Raw(@localizer["wel2"])  </h1>
                            <p data-animation="fade-up" data-delay=".4s">   @localizer["wel2desc"]                  </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-height slider-height-3 d-flex align-items-center justify-content-center" style="background-image: url(@Url.Content("~/template/img/slider/banner3.png"))">
            <div class="container">
                <div class="row  justify-content-center">
                    <div class="">
                        <div class="slider-content slider-content-2 slider-content-3 text-center">
                                  <a asp-action="Register" asp-controller="Account" asp-area=""  >
                            <h1 class="white-color f-700" data-animation="fade-up" data-delay=".2s">@Html.Raw(@localizer["wel3"])  </h1>
                            <p data-animation="fade-up" data-delay=".4s"> @localizer["wel3desc"]  </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-height slider-height-3 d-flex align-items-center justify-content-center" style="background-image: url(@Url.Content("~/template/img/slider/banner4.jpg"))">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="">
                        <div class="slider-content slider-content-2 slider-content-3 text-center">
                            <h1 class="white-color f-700" data-animation="fade-up" data-delay=".2s">@Html.Raw(@localizer["wel4"])  </h1>
                            <p data-animation="fade-up" data-delay=".4s">           @localizer["wel4desc"]                    </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider-end -->
<!-- about start -->
<div id="about" class="about-area pt-80 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-7">
                <div class="about-title-section mb-30 aos-init  aos-animate"  data-aos="flip-up" data-aos-duration="1200">
                    <h1>@localizer["about"] ESTA</h1>
                    <h5>@localizer["esta"] ( ESTA )</h5>
                    <p>
            
                     
                            @Model.About 
                          
                  
                       
                 </p>
                 
                    <a class="theme-btn blue-bg-border mt-20" asp-action="About" asp-controller="Home" asp-route-type="about" ><span class="btn-text">@localizer["readmore"]</span></a>
                    
                    <!--<button class="theme-btn blue-bg-border mt-20"><span class="btn-text">Read More</span></button>-->
                </div>
            </div>
            <div class="col-xl-5 col-lg-5 aos-init aos-animate" data-aos="flip-down"  data-aos-duration="1200">
                <div class="about-right-img mb-30">
                    <img src="@Url.Content("~/template/img/about/about-right.png")" alt="">
                </div>
            </div>
        </div>

    </div>
</div>
<!-- about end -->
<!-- latest_news start -->
@await Component.InvokeAsync("Events")
<!-- latest_blog end -->
<!-- choose section -->
<div id="choose" class="visionMission events-bg-height pt-70 pb-20 ">
    <div class="container">
        <div class="row">
            <div class="col-12  aos-init aos-animate" data-aos="fade-up"
                      data-aos-anchor-placement="center-center" data-aos-duration="1000">
                <div class="section-title mb-50 text-center">
                    <div class="section-title-heading mb-20">
                        <h1 class="primary-color">@localizer["whyus"]</h1>
                    </div>

                </div>
            </div>
        </div>
        <div class="row missionVissonRow">
            <div class="col-md-5 mb-5 aos-init aos-animate" data-aos="zoom-in-up" data-aos-duration="1500">
                <div class="choose_box">

                    <div><img src=" @Url.Content("~/template/img/vission_trans.png") " alt="#" /><h3>@localizer["ourvission"]</h3></div>

                    <p> @Html.Raw(Model.Vission) ...</p> 

                    <a class="vissionMissionBtn theme-btn blue-bg-border mt-10" asp-action="About" asp-route-type="vission" 
                    asp-controller="Home"><span class="btn-text">@localizer["readmore"]</span></a>
                </div>
            </div>
            <div class="col-md-5 mb-5 aos-init aos-animate" data-aos="zoom-in-up" data-aos-duration="1500">
                <div class="choose_box">
                    <div><img src="@Url.Content("~/template/img/mission_trans.png") " alt="#" /><h3>@localizer["ourmission"]</h3></div>

                    <p>@Html.Raw(Model.Mission) ...</p> 
                    <a class="vissionMissionBtn theme-btn blue-bg-border mt-10" asp-action="About" asp-route-type="mission" 
                    asp-controller="Home"><span class="btn-text">@localizer["readmore"]</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end choose section -->
<!-- courses start -->
<div id="upComingCourses" class="events-area events-bg-height pt-100 pb-50" style="background-image: url(@Url.Content("~/template/img/shop_bg.jpg"))">
    <div class="container">
        <div class="row">
            <div class=" col-12 aos-init aos-animate" data-aos="fade-up"
                 data-aos-anchor-placement="center-center" data-aos-duration="1000">
                <div class="section-title mb-50 text-center">
                    <div class="section-title-heading mb-20">
                        <h1 class="white-color">Courses & Events </h1>
                    </div>

                </div>
            </div>
        </div>

        <div class="events-list mb-30">
            <div class="row" style="justify-content:center">
                <div class="col-lg-10 aos-init aos-animate" data-aos="fade-down"
                     data-aos-duration="1500">

                    <style>
                        #courses-calendar {
                            max-width: 1300px;
                            margin: 0 auto;
                            background-color: white;
                                border-radius: 10px;
                                padding: 3px;
                 }
                    </style>

                    <div id="courses-calendar"></div>



                </div>

          <!--
 @if (Model.UpcomingCourse != null) { 
                <div class="col-lg-5 col-sm-12 aos-init aos-animate" data-aos="fade-up"
                     data-aos-duration="1500">
                    <div class="single-events mb-30">
                        <div class="events-wrapper">
                            <div class="events-inner d-flex">
                                <div class="events-thumb">
                                    <img style="width: 165px;
    height: 100%;" src="@Url.Content("~"+@Model.UpcomingCourse.PhotoPath) " alt="">
                                </div>
                                <div class="events-text white-bg">
                                    <div class="event-text-heading mb-20">
                                        <div class="events-calendar text-center f-left">
                                            <span class="date">
                                                @Model.UpcomingCourse.StartDate.Value.Day
                                            </span>
                                            <span class="month">      @Model.UpcomingCourse.StartDate.Value.ToString("MMM") ,   
                                                @Model.UpcomingCourse.StartDate.Value.Year</span>
                                        </div>
                                        <div class="events-text-title clearfix">
                                            <a asp-action="CourseDetails" asp-controller="Courses" asp-route-id="@Model.UpcomingCourse.Id">

                                              
                                   

                                                        @if (Thread.CurrentThread.CurrentCulture.Name == "ar")
                                                        {
                                                         <h4>  @Model.UpcomingCourse.TitleAr  </h4>
                                                        }
                                                        else {
                                                        <h4>  @Model.UpcomingCourse.Title  </h4>
                                                                                                }

                                            
                                                
                                              
                                            </a>
                                            <div class="time-area">
                                                <span class="ti-time"></span>
                                                <span class="published-time">05:23 AM - 09:23 AM</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="events-para">
                                        

                                        @if (Thread.CurrentThread.CurrentCulture.Name == "ar")
                                        {
                                                @if (Model.UpcomingCourse.DescriptionAr.Count()>100)
                                                {
                                                    <p>  @Model.UpcomingCourse.DescriptionAr.Substring(0,100)  </p>
                                                }else{

                                                    <p>  @Model.UpcomingCourse.DescriptionAr.ToString()  </p>
                                                }
                                        
                                        }
                                        else
                                        {
                                                @if (Model.UpcomingCourse.Description.Count() > 100)
                                                {
                                            <p>  @Model.UpcomingCourse.Description.Substring(0,100)  </p>

                                                }else
                                                {
                                                    <p>  @Model.UpcomingCourse.Description.ToString()  </p>
                                                }
                                        }
                                    </div>
                                    <div class="events-speaker">
                                  @*      <h2>Speaker : <span>Alexzender</span></h2>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            
                }
          -->     
            </div>
        </div>

    </div>
</div>
<!-- courses end -->

<input type="hidden" value="@Url.Action("GetEvents")" id="AjaxUrl" />

<input type="hidden" value="@Url.Action("GetEvent","EventsNews")" id="GetEventUrl" />

<input type="hidden" value="@Url.Action("Courses","api")" id="GetCourseUrl" />

<input type="hidden" value="@Url.Action("CourseDetails","Courses")" id="GetCoursedetails" />

<!-- events start -->
<!--
@await Component.InvokeAsync("UpcomingEvents")

-->

<!-- events end -->
<br />



<style>
    .card {
        transition: 0.5s ease-in-out;
        overflow: hidden;
        /*z-index:10;
                */
    }

	</style> 
    
  


                        @section Scripts{
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/moment.js"></script>
	<script src="~/lib/fullcalendar-6.0.1/dist/index.global.min.js"></script>
	<script src="~/lib/fullcalendar-6.0.1/dist/index.global.js"></script>
    <script src="~/js/course.js"></script>
    <script src="~/js/calenderscript.js"></script>
  <script src="~/js/coursecalendar.js"></script>


 
}
@*    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>*@