@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<br />
<div class="container">
    <div class="row justify-content-center">

        <div class="col">
            <h3>@localizer["refundpolicy"]</h3>
            <div>
                @Html.Raw( @localizer["payinfo"] )

                @*                <a target="_blank" asp-area="" asp-action="terms" asp-controller="Home">@localizer["termsCon"]</a>
                .
                <a target="_blank" asp-area="" asp-action="privacy" asp-controller="Home">@localizer["pp"]</a>*@
            </div>
        </div>
    </div>
</div>