@using Microsoft.AspNetCore.Http;
@using System.Security.Claims
@using Microsoft.Extensions.Localization;
@using Microsoft.AspNetCore.Identity;

@inject IStringLocalizer<SharedResource> localizer;
@inject UserManager<User> userManager;

@{
    var Admin = false;
    var isModerator = false;
    var user = await userManager.GetUserAsync(User);

    if (user != null && await userManager.IsInRoleAsync(user, "Admin"))
    {
        Admin = true;
    }
    if (user != null && await userManager.IsInRoleAsync(user, "Moderator"))
    {
        isModerator = true;
    }


}

<!DOCTYPE html>
<html lang=@Thread.CurrentThread.CurrentCulture.Name>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@localizer["esta"] </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ESTA.styles.css" asp-append-version="true" />
    <link href="~/lib/select2/select2.min.css" rel="stylesheet" />
    <link href="~/lib/datatable/datatables.min.css" rel="stylesheet" />
    @if (Thread.CurrentThread.CurrentCulture.Name == "ar")
    {
        <link href="~/css/admin-style-ar.css" rel="stylesheet" />
    }


    <link href="~/template/css/fontawesome-all.min.css" rel="stylesheet" />
</head>
<body>



    <div @*style="display:flex;flex-direction:row"*@>

        @*<div class="side-menu">
        <ul style="list-style:none;">

        <li>

        Home
        </li>

        <li>

        Index
        </li>

        <li>

        Contact
        </li>

        <li>

        Registry
        </li>


        </ul>

        </div>
        *@
        <div @*style="width:fil;display:flex;flex-direction:column"*@>

            <header>
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                    <div class="container-fluid">
                        @*  <a class="navbar-brand" asp-area="admin" asp-controller="Home" asp-action="Index">ADMIN</a>*@
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="container navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <ul class="navbar-nav flex-grow-1">


                                @if (Admin)
                                {
                                    @* <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="admin" asp-controller="Courses" asp-action="Index">@localizer["home"]</a>
                                </li>*@

                                    @*<li class="nav-item-link">
                                        <a class="nav-link text-dark" asp-area="admin" asp-controller="Courses" asp-action="Index">@localizer["courses"]</a>
                                    </li>

                                    <li class="nav-item-link">
                                        <a class="nav-link text-dark" asp-area="admin" asp-controller="Levels" asp-action="Index">@localizer["levels"]</a>
                                    </li>*@
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="admin" asp-controller="Content" asp-action="Index">@localizer["content"]</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="admin" asp-controller="Directors" asp-action="Index">@localizer["board"]</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="admin" asp-controller="Contact" asp-action="Index">@localizer["contacts"]</a>
                                    </li>
                                    @*<li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="admin" asp-controller="Users" asp-action="Index">@localizer["users"]</a>
                                    </li>*@

                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="admin" asp-controller="EventsNews" asp-action="Index">@localizer["events&news"]</a>
                                    </li>
                                    @*<li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="admin" asp-controller="Forums" asp-action="Index">@localizer["forums"]</a>
                                    </li>*@
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="Admin" asp-controller="Payments" asp-action="Index">@localizer["payments"]</a>
                                    </li>
                                    @*<li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="Admin" asp-controller="CertifiedMembers" asp-action="Index">@localizer["cetaholders"]</a>
                                    </li>*@
                                    
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            @localizer["education"]
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" asp-area="admin" asp-controller="Levels" asp-action="Index">@localizer["levels"]</a></li>
                                            <li><a class="dropdown-item" asp-area="admin" asp-controller="Courses" asp-action="Index">@localizer["courses"]</a></li>
                                            <li><a class="dropdown-item" asp-area="admin" asp-controller="CertifiedMembers" asp-action="Index">@localizer["cetaholders"]</a></li>
                                            <li><a class="dropdown-item" asp-area="admin" asp-controller="Forums" asp-action="Index">@localizer["forums"]</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            @localizer["usersmanagement"]
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" asp-area="admin" asp-controller="Account" asp-action="CreateAdmin">@localizer["createadmin"]</a></li>
                                            <li><a class="dropdown-item" asp-area="admin" asp-controller="Users" asp-action="Index">@localizer["users"]</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="admin" asp-controller="Account" asp-action="UserChangePassword">@localizer["ChangePassword"]</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class=" btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">
                                            @*@localizer["home"]*@
                                            <i class="fas fa-home"></i>
                                        </a>
                                    </li>
                                }
                                else if (isModerator)
                                {
                                    <li class="nav-item">
                                        <a class=" btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">
                                            @localizer["home"]
                                            <i class="fas fa-home"></i>
                                        </a>
                                    </li>

                                }

                            </ul>


                            <partial name="_LoginPartial"></partial>

                            @*
                            @if (!User.Identity.IsAuthenticated)
                            {
                            <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                            <a class="nav-link text-dark " asp-area=""
                            asp-controller="Account" asp-action="Login">Login</a>
                            </li>

                            <li class="nav-item">
                            <a class="nav-link text-dark" asp-area=""
                            asp-controller="Account" asp-action="Register">Register</a>
                            </li>
                            </ul>
                            }else{


                            <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                            <strong><a class="nav-link text-dark " asp-area=""
                            asp-controller="User" asp-action="Profile">
                            @User.FindFirstValue(ClaimTypes.Email)
                            </a></strong>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link text-dark " asp-area=""
                            asp-controller="Account" asp-action="Logout">

                            Logout
                            </a>
                            </li>

                            </ul>

                            }

                            *@


                        </div>

                    </div>
                </nav>

            </header>

            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>

        </div>
    </div>



    <br />
    <br />
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ESTA - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/select2/select2.min.js"></script>
    <script src="~/lib/datatable/datatables.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <input type="hidden" asp-area="" value="@Url.Content("~/api/Images")" id="GetPostEditorImagesUrl" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
