@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<ESTA.ViewModels.ViewModerator>;

<a class="btn btn-danger" asp-action="NewModerator" 
asp-controller="Moderator" asp-area="Admin">@localizer["addmoderator"]</a>
<a class="btn btn-danger" asp-action="NewModeratorCurrentUser" 
asp-controller="Moderator" asp-area="Admin">@localizer["addexitingmoderator"]</a>

<div class="rounded-div" >

	<table id="courses-table" class="table table-striped animate__fadeIn " style="animation-duration:1s">
		<thead>
			<tr>
				<th>@localizer["urname"]</th>
				<th>@localizer["uremail"]</th>
				<th colspan="3">@localizer["edit"]</th>
			</tr>
		</thead>
		<tbody>

			@{
				foreach (var item in Model)
				{
						<tr>
							<td>@item.Name</td>
							<td>@item.UserName</td>
							<td>
								<a class="btn btn-info" asp-action="EditModerator" asp-controller="Moderator" asp-area="Admin"  asp-route-id="@item.Id">@localizer["edit"]</a>
							</td>
						</tr>
				}
			}
		</tbody>
	</table>
</div>