@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ESTA.ViewModels.EditForum
@{

}


<div class="rounded-div">
<form onkeypress="submitForm(event)" asp-action="EditForum" asp-controller="Forums" method="post">
    <div asp-validation-summary="All" class="text-danger">
    </div>
    <div class="form-group">
            <label asp-for="@Model.Title" class="form-label"></label>
            <input class="form-control" id="formTitle" type="text" asp-for="@Model.Title" />
            <span asp-validation-for="@Model.Description"  class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Description" class="form-label"></label>
            <input class="form-control" id="formDescription" type="text" asp-for="@Model.Description" />
            <span asp-validation-for="@Model.Description" class="text-danger"></span>
    </div>
    <div class="form-group">
            <label asp-for="@Model.levelId" class="form-label"></label>
            <select asp-for="@Model.levelId" class="form-control" id="formLevel" asp-items="ViewBag.LevelsListItem">
        </select>
        <span asp-validation-for="@Model.levelId" class="text-danger"></span>
    </div>

    <input type="hidden" asp-for="Id" value="@Model.Id" />
    <div class="col-12">
        <button type="submit" id="submit" class="btn btn-primary">@localizer["submit"]</button>
        <a asp-action="Index" class="btn btn-secondary">@localizer["cancel"]</a>
    </div>
</form>
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_validationscriptspartial.cshtml");
    }
    <script>
        function submitForm(e) {
            keycode = e.keyCode || e.charCode || e.which //for cross browser
            if (keycode == 13)    //keyCode for enter key
            {
                $('#submit').trigger('click');
            }
        }
    </script>
}