@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model ESTA.ViewModels.ForumsWithComments
<style>
    .delete {
        color: red !important;
        cursor:pointer;
        text-decoration:none;
    }
</style>
<div class="slider-area">
    <div class="pages-title">
        <div class="single-slider slider-height slider-height-breadcrumb d-flex align-items-center" style="background-image: url(../../template/img/inner-bg.png);">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content slider-content-breadcrumb text-center">
                            <h1 class="white-color f-700">@Model.Title</h1>
                            <nav class="text-center" aria-label="breadcrumb">
                                <ol class="breadcrumb justify-content-center">
                                    <li class="breadcrumb-item"><a asp-controller="Forums" asp-action="Index">Forums</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">@Model.Title</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="news-details-area pt-50">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-12">
                <div class="post-comments post-comments-padding white-bg">
                    <div class="latest-comments">
                        <ul>
                            <li>
                                <div class="comments-box main-comments d-flex">
                                    <div class="comments-text">
                                        <div class="avatar-name">
                                            <h3>@Model.Title</h3>
                                        </div>
                                        <p>@Model.Description</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="news-details-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-12">
                <div class="post-comments post-comments-padding white-bg">
                    <div class="latest-comments">
                        <ul id="CommentList">

                            @await Html.PartialAsync("_RenderComment", new ESTA.ViewModels.RenderComment
                            {
                            showAllLink = true,
                            showReply = false,
                            UserForums = Model.UserForum
                            })
                        </ul>
                    </div>
                    @if (ViewBag.CheckMoreComments)
                    {
                        <button id="MoreBtn" onclick="getNextPage()" class="btn btn-link my-2">Load more...</button>
                    }
@*
                    <div class="post-comments-form my-3">
                        <div class="section-title mb-30">
                            <h2>Leave a Comment</h2>
                        </div>
                        <div class="row">
                            <div class="col-xl-8">
                                <textarea wrap="hard" maxlength="500" name="comments" id="comment" cols="30" rows="5" class="form-control" placeholder="Your Comment"></textarea>
                                <button class="btn btn-primary py-3 px-5 mt-3" onclick="AddComment()">send comment</button>
                            </div>
                        </div>
                        <div id="cmntErr" class="text-danger">

                        </div>
                    </div>*@
                </div>
            </div>

            <div class="col-xl-4 align-self-center" id="stats">
            </div>
        </div>
    </div>
</div>
<input type="hidden" value="@Url.Action("DeleteComment")" id="AjaxDelCmnt" />
<input type="hidden" value="@Url.Action("DeleteReply")" id="AjaxDelRpl" />
<input type="hidden" value="@Url.Action("BanUser","Forums")" id="AjaxBanUser" />

<input type="hidden" value="@Model.Id" id="ForumId" />
<div class="modal" tabindex="-1" id="exampleModalToggle">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are You sure you want to Ban This User!</p>
                <div class='row'>
                    <div class='col-12'>
                        <textarea maxlength="450" rows="3" class='form-control' id="BanReason" type='text' placeholder='Enter reason' aria-label='Enter reason ...'></textarea>
                    </div>
                    <div id="reasonErr" class="text-danger">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button onclick="BanUserConfirm()" class="btn btn-danger">Ban</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/forumsfuncs.js"></script>
    <script>
        $(document).ready(function () {
            var id = $('#ForumId').val();
            loadStats();
        });
        function loadStats() {
            $('#stats').load('@Url.Action("GetForumStatistics","Forums",new { id = ViewContext.RouteData.Values["id"]})');
        }
        var commentPage = 1;
        function getNextPage() {
            $.ajax({
                type: 'get',
                url: '@this.Url.Action("GetForumsComment","Forums")',
                data: {
                    forumId: $('#ForumId').val(),
                    page: commentPage++
                },
                success: function (data) {
                    $('#CommentList').append(data);
                    checkMoreComments()
                },
                error: function (data) {
                    console.log(data)
                }
            });
        }
        function checkMoreComments() {
            $.ajax({
                type: 'get',
                url: '@this.Url.Action("CheckMoreComments","Forums")',
                data: {
                    forumId: $('#ForumId').val(),
                    page: commentPage
                },
                success: function (data) {
                    if (!data)
                        $('#MoreBtn').hide();
                },
                error: function (data) {
                    console.log(data)
                }
            });
        }

        function AddComment() {
            if ($('#comment').val()) {
                $.ajax({
                    type: 'post',
                    url: '@this.Url.Action("AddComment","Forums")',
                    data: {
                        forumId: $('#ForumId').val(),
                        comment: $('#comment').val()
                    },
                    success: function (data) {
                        $('#comment').val('')
                        $('#CommentList').append(data);
                        checkMoreComments()
                        loadStats();
                    },
                    error: function (data) {
                        console.log('hiii')
                    }
                });
            }
            else{
                $('#cmntErr').text('Enter valid comment')
            }
        }

    </script>
                    }
