@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> signInManager;
@inject UserManager<User> userManager;
@{
    var admin = false;
    var IsSigned = signInManager.IsSignedIn(User);
    if (signInManager.IsSignedIn(User))
    {
        var user = await userManager.GetUserAsync(User);
        admin = await userManager.IsInRoleAsync(user, "Admin");
    }
}
@model ESTA.ViewModels.DisplayEvents

@*<div class="slider-area">
    <div class="pages-title">
        <div class="single-slider slider-height slider-height-breadcrumb d-flex align-items-center" style="background-image: url(/template/img/inner-bg.png);">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content slider-content-breadcrumb text-center">
                            <h1 class="white-color f-700">News Details</h1>
                            <nav class="text-center" aria-label="breadcrumb">
                                <ol class="breadcrumb justify-content-center">
                                    <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">News Details</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@

<div class="news-details-area pt-50 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="blog-wrapper blog-list blog-details blue-blog mb-50">
                    <div class="blog-thumb mb-35">
                        <img style="max-width:80%" src="@Url.Content("~/"+Model.Image)" alt="">

                    </div>
                    <div class="blog-content news-content">
                        <div class="blog-meta news-meta">
                            @if (Model.Date.HasValue)
                            {
                                <span>@Model.Date.Value.ToString("yyyy-MMM-dd")</span>
                            }
                        </div>
                        <h5>@Model.Title</h5>
                        <p>
                            @Html.Raw(Model.Description)
                        </p>
                    </div>
                </div>

            </div>
            @if (admin)
            {
                <div class="col-12 mt-3">
                    <a asp-action="EditEvent" asp-route-id="@Model.Id" class="btn btn-secondary">@ESTA.Resources.EventsNews.Edit</a>
                    @Html.ActionLink(localizer["delete"], "DeleteEvent", new { id = @Model.Id }, new { @class = "btn btn-danger", onclick = "return confirm('Are you Sure to delete , data will be lost?');" })
          

                </div>
            }

        </div>
    </div>
</div>


            